<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="Access" />
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=/SiteFiles/Data.asax;User Id=;Password=;" />
  </appSettings>
  <system.web>
    <!-- 如果在.net 4.0下运行，需要在httpRuntime中增加属性 requestValidationMode="2.0" -->
    <httpRuntime maxRequestLength="1000000" executionTimeout="2000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="false" />
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" />
    <customErrors mode="Off">
    </customErrors>
    <httpModules>
      <add name="SiteServer" type="BaiRong.Provider.HttpModule.SiteServerHttpModule, BaiRong.Provider" />
    </httpModules>
    <sessionState mode="InProc" timeout="30" />
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <trace enabled="false" requestLimit="1000" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>