
.div_HeaderTheme{
	/*padding:1px 1px 1px 1px;
	border:1px solid #E8DFFC;*/
	background-image: url(images/search_bg.jpg);
	height: 75px;
	}
.div_ContentTheme{
	padding:1px 1px 1px 1px;
	border:1px solid #E8DFFC;
	}
.tr_Title{
	background-image: url(images/mod_t_bg.jpg);
	height: 30px;
	color:#8148AB;
	font-size:15px;
	}
.td_Title{
	color:#8148AB;
	font-weight:bold;
	}
.hr_Color{
	color:#E8DFFC;
	}
.link_color{
	color:#8148AB;
	}
.btn_Theme_0{
    border-right : #B3A2C7 1px solid; 
    padding-right: 2px;
    border-top: #B3A2C7 1px solid; 
    padding-left: 2px; 
    font-size: 12px; 
    font-weight:bold;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D9CCF8); 
    border-left: #B3A2C7 1px solid; 
    cursor: hand; 
    color: #666666; 
    padding-top: 2px; 
    border-bottom: #B3A2C7 1px solid;
 }
 
 .btn_Theme_1{
    border-right : #B3A2C7 1px solid; 
    padding-right: 2px; 
    border-top: #B3A2C7 1px solid; 
    padding-left: 2px; 
    font-size: 12px; 
    font-weight:bold;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#E5DCFB); 
    border-left: #B3A2C7 1px solid; 
    cursor: hand; 
    color: #666666; 
    padding-top: 2px; 
    border-bottom: #B3A2C7 1px solid;
 }
 
.tab_1 {position:relative; width:180px;}
.tab_1 dt {position:relative; z-index:2;bottom:-6px; height:20px;float:left; margin:0 4px;border:1px solid #C8CACA; background:#F1F1F1; color:black; cursor:pointer;valign:center;}
.tab_1 .current {border-bottom:1px solid #fff; bottom:-1px;font-weight:bold;height:25px;background:#fff; color:#0B7ACF;font: 1em/1.5 Arial,Helvetica,Sans-Serif;font-weight:bold;}
.tab_1 dd {width:16em;z-index:1; top:2.05em; left:0;border:1px solid #C8CACA; background:#fff;}

*
/*{ margin:0;padding:0;font-size:12px;font-weight:normal;font-family:verdana, tahoma, helvetica, arial, sans-serif, "ו";font-style:normal;list-style-type:none;}*/
{ margin:0;padding:0;font-size:12px;font-weight:normal;font-family:verdana, tahoma, helvetica, arial, sans-serif, "ו";font-style:normal;list-style-type:none;text-decoration:none;}


OL LI {
	 margin: 10px
}
#con {
	 font-size: 12px;  margin: 0px auto;  width: 682px
}
#tags {
	 padding-right: 0px;  padding-left: 0px;  padding-bottom: 0px;  margin: 0px 0px 0px 0px;  width: 500px;  padding-top: 0px;  height: 23px
}
#tags LI {
	 background: url(images/tagleft.gif) no-repeat left bottom;  float: left; 
     margin-right: 2px;  list-style-type: none;  height: 24px
}
#tags LI A {
	 padding-right: 10px;  padding-left: 10px;  background: url(images/tagright.gif) no-repeat right bottom;  float: left;  padding-bottom: 0px; 
     color : #999; line-height: 24px;  padding-top: 0px;  height: 23px;  text-decoration: none
}
#tags LI.emptyTag {
	 background: none transparent scroll repeat 0% 0%;  width: 4px
}
#tags LI.selectTag {
	 background-position: left top;  margin-bottom: -2px;  position: relative;  height: 25px
}
#tags LI.selectTag A {
	 background-position: right top;  color: #000;  line-height: 25px;  height: 25px
}
#tagContent {
	 border-right: #C1A3F8 1px solid;  padding-right: 1px;  border-top: #C1A3F8 1px solid;  padding-left: 1px;  padding-bottom: 1px;  border-left: #C1A3F8 1px solid; padding-top:1px;  border-bottom: #C1A3F8 1px solid;  background-color: #fff
}
.tagContent {
 padding-right: 10px;  display: none;  padding-left: 10px;  background: url(images/bg.gif) repeat-x;  padding-bottom: 10px;  width: 660px;  color: #474747;

 padding-top: 10px;
}
#tagContent DIV.selectTag {
 display: block
}

