<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab text="内容管理" permissions="ask_question,ask_answer,ask_expert" selected="true">
		<SubTabs>
			<Tab text="问题管理" permissions="ask_question" href="ask/background_question.aspx" target="right" />
			<Tab text="回答管理" permissions="ask_answer" href="ask/background_answer.aspx" target="right" />
			<Tab text="专家管理" permissions="ask_expert" href="ask/background_expert.aspx" target="right" />
		</SubTabs>
	</Tab>
	<Tab text="系统管理" permissions="ask_announcement,ask_catalog,ask_adSelect,ask_links,ask_executeIndex" selected="true">
		<SubTabs>
			<Tab text="公告管理" permissions="ask_announcement" href="ask/background_announcement.aspx" target="right" />
			<Tab text="分类管理" permissions="ask_catalog" href="ask/background_catalogMain.aspx" target="right" />
			<Tab text="广告管理" permissions="ask_adSelect" href="ask/background_adSelect.aspx" target="right" />
			<Tab text="友情链接管理" permissions="ask_links" href="ask/background_links.aspx" target="right" />
      <Tab text="重新建立索引" permissions="ask_executeIndex" href="ask/background_executeIndex.aspx" target="right" />
		</SubTabs>
	</Tab>
  <Tab text="用户管理" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="ask_user" selected="true">
    <SubTabs>
      <Tab text="用户组管理" href="ask/background_userGroup.aspx" target="right" />
      <Tab text="用户管理" href="ask/background_user.aspx" target="right" />
    </SubTabs>
  </Tab>
	<Tab text="系统设置" permissions="ask_configuration,ask_configurationTheme,ask_credit,ask_configurationCheck" selected="true">
		<SubTabs>
			<Tab text="系统设置" permissions="ask_configuration" href="ask/background_configuration.aspx" target="right" />
      <Tab text="审核设置" permissions="ask_configuration" href="ask/background_configurationCheck.aspx" target="right" />
			<Tab text="显示界面设置" permissions="ask_configurationTheme" href="ask/background_configurationTheme.aspx" target="right" />
      <Tab text="积分设置" permissions="ask_credit">
        <SubTabs>
          <Tab text="积分类型设置" href="ask/background_configurationCredit1.aspx" target="right" />
          <Tab text="积分奖赏设置" href="ask/background_configurationCredit2.aspx" target="right" />
        </SubTabs>
      </Tab>
		</SubTabs>
	</Tab>
</Tabs>
</TabCollection>