<?xml version="1.0" encoding="utf-8" ?> 
<Config>
	<add name="ask_question" text="问题管理" />
	<add name="ask_answer" text="回答管理" />
	<add name="ask_expert" text="专家管理" />
	
	<add name="ask_announcement" text="公告管理" />
	<add name="ask_catalog" text="分类管理" />
	<add name="ask_adSelect" text="广告管理" />
	<add name="ask_links" text="友情链接管理" />
	<add name="ask_executeIndex" text="重新建立索引" />

  <add name="ask_user" text="用户管理" />
	<add name="ask_configuration" text="系统设置" />
	<add name="ask_configurationTheme" text="显示界面设置" />
	<add name="ask_credit" text="积分设置" />
	<add name="ask_configurationCheck" text="审核设置" />
</Config>