<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab id="Management" text="问答管理" permissions="ask_question,ask_answer,ask_expert,ask_announcement,ask_catalog,ask_adSelect,ask_links,ask_executeIndex,ask_configuration,ask_configurationTheme,ask_credit,ask_configurationCheck" />
</Tabs>
</TabCollection>