<?xml version="1.0" encoding="utf-8"?>
<ThemesConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <StylesConfig>
    <Themes>
      <Theme DirectoryName="default" DisplayName="默认主题"></Theme>
      <Theme DirectoryName="coffee" DisplayName="咖啡主题"></Theme>

      <Theme DirectoryName="orange" DisplayName="橙色主题"></Theme>
      <Theme DirectoryName="red" DisplayName="红色主题"></Theme>
      <Theme DirectoryName="purple" DisplayName="紫色主题"></Theme>
    </Themes>
  </StylesConfig>
</ThemesConfig>
