<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{Content.Title}-{Channel.Title}-{Stl.SiteName}</title>
<!-- header -->
<stl:include file="/include/header.html"></stl:include>

	<!--header 头部结束-->




<link href="/templets/nettac/images/help_about.css" rel="stylesheet" type="text/css" />

	 <div class="h_header solid"></div>

<div class="marb20"></div>

<div class="layout solid">

<stl:include file="/include/left_nav.html"></stl:include> 
   
    <div class="h_mainright">
    	<div class="h_location">您现在的位：<stl:location separator=" > "></stl:location></div>
      	<div class="marb20"></div>
       
       <div class="h_news">
        	


<!--表格start-->

<div id="fwqzy_19">
<div id="fwqzy_18">福州云提死扛定制</div>
<div class="fwqzy_21">
<div id="fwqzy_22">项目</div>
<div id="fwqzy_23">详细</div>
<div id="fwqzy_25">时间</div>
</div>

<div class="fwqzy_26">
<div id="fwqzy_27">CPU</div>
<div id="fwqzy_23"><span>{Content.CPU}</span></div>
<div id="fwqzy_28">一月</div>
<div id="fwqzy_24">一年</div>

</div>
<!------------->
<div class="fwqzy_26max">
<div class="fwqzy_26a">
<div id="fwqzy_27">内存</div>
<div id="fwqzy_23"><span>{Content.memory}</span> GB</div>
</div>


<div class="fwqzy_26a">
<div id="fwqzy_27">硬盘</div>
<div id="fwqzy_23"><span>{Content.disk}</span> GB</div>
</div>

<div class="fwqzy_26a">
<div id="fwqzy_27">带宽</div>
<div id="fwqzy_23"><span>{Content.band}</span> MB</div>
</div>

<div class="fwqzy_26a">
<div id="fwqzy_27">端口</div>
<div id="fwqzy_23"><span>{Content.port}</span></div>
</div>

<div class="fwqzy_26a">
<div id="fwqzy_27">线路</div>
<div id="fwqzy_23"><span>{Content.circuit}</span></div>
</div>

<div class="fwqzy_26a">
<div id="fwqzy_27">硬防</div>
<div id="fwqzy_23"><span>{Content.defense}</span></div>
</div>
</div>

<div id="fwqzy_img"> 
<stl:image height="200" width="250" alt="{Content.Title}"></stl:image>
</div>
<!------------->

<div class="fwqzy_26">
<div id="fwqzy_27">价格</div>
<div id="fwqzy_23">人民币</div>
<div id="fwqzy_28"><span>{Content.month}元</span>/月</div>
<div id="fwqzy_24"><span>{Content.year}元</span>/年</div>
</div>


<div class="fwqzy_26">
<div id="fwqzy_miaoshu">描述</div>
<div id="fwqzy_miaoshu2">联系销售定制！</div>
<div id="fwqzy_dingg"><a onclick="tryOnLine();" href="javascript:;"> 立即购买 </a></div>
</div>

</div>


<!--表格end-->


<stl:include file="/include/服务器推荐.html"></stl:include>

        </div>
     
    </div>
    
</div>


<div class="marb20"></div>



<DIV class=marb20></DIV>


	<!--footer 底部开始-->

<stl:include file="/include/flooter.html"></stl:include>


	<!--footer 底部结束-->


<!-- 客服 -->
<stl:include file="/include/services.html"></stl:include>








</BODY>
</HTML>
