<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{Content.Title}-{Channel.Title}-{Stl.SiteName}</title>
<!-- header -->
<stl:include file="/include/header.html"></stl:include>

	<!--header 头部结束-->




<link href="/templets/nettac/images/help_about.css" rel="stylesheet" type="text/css" />

<div class="h_header solid"></div>

<div class="marb20"></div>

<div class="layout solid">

<stl:include file="/include/left_nav.html"></stl:include> 
   
    <div class="h_mainright">
    	<div class="h_location">您现在的位：<stl:location separator=" > "></stl:location></div>
      	<div class="marb20"></div>
      
      
<!-- start -->
<div class="h_news">
        	


    
    <!-- describe start -->
    <!--表格start-->
    <div id="jfjs_article">
        <div id="jfjs_article_title">福州双线高防机房详情</div>
        <div id="jfjs_article_img"><img src="/uploads/allimg/160613/1-16061314330R63.jpg" alt="福州双线高防机房详情">
        </div>
        <div id="jfjs_article_xm">机房等级</div>
        <div id="jfjs_article_nr"><span>★★★★★</span></div>
    
    
        <div id="jfjs_article_li">
            <div id="jfjs_article_xm">机房防御</div>
            <div id="jfjs_article_nr">320集群200单防</div>
        </div>
        
        <div id="jfjs_article_li">
            <div id="jfjs_article_xm">开通线路</div>
            <div id="jfjs_article_nr">电信、网通、双线</div>
        </div>
    
        <div id="jfjs_article_li">
            <div id="jfjs_article_xm">目前机柜</div>
            <div id="jfjs_article_nr">1000</div>
        </div>
    
        <div id="jfjs_article_li">
            <div id="jfjs_article_xm">创办时间</div>
            <div id="jfjs_article_nr">2014</div>
        </div>
    
        <div id="jfjs_article_li">
            <div id="jfjs_article_nr2">&nbsp;&nbsp;&nbsp;&nbsp;电力保障 双路供电：市电双路供电；UPS；柴油发电机组，实现无缝隙、不间断电力供应。 安全系统 监控系统7x24小时进行全方位机房监控、录像。门禁系统严格验证来人身份。 空调系统 先进的专用机房空气调节系统采用上送风，下回风方式精确控制机房空间的温度
            </div>
        </div>
    
    </div>

    
    <!--表格end-->
    <div class="fwqzyxxsm">详细内容</div>

   <div class="articlebody">
	<table style="width:100%;">
        <tbody>
            <tr>
                <td style="width:20%;">
                    电力保障</td>
                <td style="width:78%;">
                    双路供电&nbsp;：市电双路供电；UPS；柴油发电机组，实现无缝隙、不间断电力供应。</td>
            </tr>
            <tr>
                <td style="width:20%;">
                    安全系统</td>
                <td style="width:78%;">
                    监控系统7x24小时进行全方位机房监控、录像。门禁系统严格验证来人身份。</td>
            </tr>
            <tr>
                <td style="width:20%;">
                    空调系统</td>
                <td style="width:78%;">
                    先进的专用机房空气调节系统采用上送风，下回风方式精确控制机房空间的温度及湿度，新风系统高压输入洁净的新鲜空气，为客户的网络系统提供最佳运行条件。</td>
            </tr>
            <tr>
                <td style="width:20%;">
                    机柜设施</td>
                <td style="width:78%;">
                    一期、二期目前已投入使用机柜１０００个。每个机柜可承载18U&nbsp;<a href="http://www.nettac.cn" target="_blank"><u>服务器</u></a>设备。</td>
            </tr>
            <tr>
                <td style="width:20%;">
                    机房优势</td>
                <td style="width:78%;">
                    &nbsp;<br>
                    中国领先的IDC服务提供商，为您提供多种IDC资源选择<br>
                    真正提供7×24小时不间断机房现场服务<br>
                    无限次安装系统、无限次快速重启服务器，免费提供基础安全设置<br>
                    &nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br>

   </div>

<div class="marb20"></div>
       
<!-- describe end -->


<div class="marb20"></div>
<stl:include file="/include/服务器推荐.html"></stl:include>
      
      <!-- end -->
      
    </div>
    
    </div>
</div>

<div class="marb20"></div>



<DIV class=marb20></DIV>


	<!--footer 底部开始-->

<stl:include file="/include/flooter.html"></stl:include>


	<!--footer 底部结束-->


<!-- 客服 -->
<stl:include file="/include/services.html"></stl:include>








</BODY>
</HTML>
