<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab text="内容审核" permissions="space_blogContents,space_blogComments,space_photoContents,space_photoComments,space_words" selected="true">
		<SubTabs>
			<Tab text="博客文章审核" permissions="space_blogComments" href="space/background_blogContents.aspx" target="right" />
			<Tab text="博客评论审核" permissions="space_blogContents" href="space/background_comments.aspx?type=Blog" target="right" />
			<Tab text="相册图片审核" permissions="space_photoContents" href="space/background_photoContents.aspx" target="right" />
			<Tab text="相册评论审核" permissions="space_photoComments" href="space/background_comments.aspx?type=Photo" target="right" />
			<Tab text="留言审核" permissions="space_words" href="space/background_words.aspx" target="right" />
		</SubTabs>
	</Tab>
	
	<Tab text="动态管理" permissions="space_activities" selected="true">
		<SubTabs>
			<Tab text="动态管理" permissions="space_activities" href="space/background_activities.aspx" target="right" />
		</SubTabs>
	</Tab>
	<Tab text="空间设置" permissions="space_configuration,space_configurationCheck,space_configurationCredit,space_configurationTheme,space_configurationPhoto,space_rss,space_configurationDisableApplications" selected="true">
		<SubTabs>
			<Tab text="全局设置" permissions="space_configuration" href="space/background_configuration.aspx" target="right" />
			<Tab text="审核设置" permissions="space_configurationCheck" href="space/background_configurationCheck.aspx" target="right" />
			<Tab text="积分设置" permissions="space_configurationCredit" href="space/background_configurationCredit.aspx" target="right" />
			<Tab text="显示界面设置" permissions="space_configurationTheme" href="space/background_configurationTheme.aspx" target="right" />
			<Tab text="相册模块设置" permissions="space_configurationPhoto" href="space/background_configurationPhoto.aspx" target="right" />
			<Tab text="订阅模块管理" permissions="space_rss" href="space/background_rss.aspx" target="right" />
			<Tab text="禁用系统" permissions="space_configurationDisableApplications" href="space/background_configurationDisableApplications.aspx" target="right" />
		</SubTabs>
	</Tab>
</Tabs>
</TabCollection>