<?xml version="1.0" encoding="utf-8" ?> 
<Config>
	<add name="space_blogContents" text="博客文章审核" />
	<add name="space_blogComments" text="博客评论审核" />
	<add name="space_photoContents" text="相册图片审核" />
	<add name="space_photoComments" text="相册评论审核" />
	<add name="space_words" text="留言审核" />
	<add name="space_activities" text="动态管理" />
	<add name="space_configuration" text="全局设置" />
	<add name="space_configurationCheck" text="审核设置" />
  <add name="space_configurationCredit" text="积分设置" />
  <add name="space_configurationTheme" text="显示界面设置" />
  <add name="space_configurationPhoto" text="相册模块设置" />
  <add name="space_rss" text="订阅模块管理" />
  <add name="space_configurationDisableApplications" text="禁用系统" />
</Config>