<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
  <Tab id="Management" text="空间管理" permissions="space_blogContents,space_blogComments,space_photoContents,space_photoComments,space_words,space_activities,space_configuration,space_configurationCheck,space_configurationCredit,space_configurationTheme,space_configurationPhoto,space_rss,space_configurationDisableApplications" />
</Tabs>
</TabCollection>