<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab text="单点登录" permissions="sso_app" iconUrl="~/sitefiles/bairong/Icons/menu/module.gif" selected="true">
      <SubTabs>
        <Tab text="应用管理" permissions="sso_app" href="platform/background_ssoApp.aspx"  target="right" />
		<!--<Tab text="短消息管理" href="platform/background_privateMessage.aspx" target="right"/>
        <Tab text="积分兑换" href="platform/background_license.aspx" target="right"/>-->
      </SubTabs>
    </Tab>
	
</Tabs>
</TabCollection>