<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>CC视频</ModuleName>
  <FullName>CC威视视频系统</FullName>
  <Database>SQLSERVER</Database>
  <ModuleUrl>http://www.bokecc.com</ModuleUrl>
  <Email></Email>
  <Developer>CC视频</Developer>
  <LogoName>logo.jpg</LogoName>
  <Description></Description>
</Module>