<?xml version="1.0" encoding="utf-8" ?> 
<Config>
	<add name="platform_administrator" text="管理员管理" />
	<add name="platform_user" text="网站会员管理" />
	<add name="platform_userConfiguration" text="网站会员配置" />
  <add name="platform_payment" text="支付工具" />
	<add name="platform_product" text="平台产品管理" />
	<add name="platform_restriction" text="后台访问限制" />
	<add name="platform_database" text="数据库工具" />
  <add name="platform_utility" text="实用工具" />
  <add name="platform_log" text="后台运行记录" />
</Config>