<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="平台产品管理" permissions="platform_product" iconUrl="~/sitefiles/bairong/Icons/menu/module.gif" selected="true">
      <SubTabs>
        <Tab text="平台产品管理" href="platform/background_Module.aspx"  target="right" />
        <Tab text="在线补丁修复" href="platform/background_onlineHotfix.aspx"  target="right" />
        <Tab text="许可证管理" href="platform/background_license.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="平台系统集成" permissions="platform_product" iconUrl="~/sitefiles/bairong/Icons/menu/integration.gif" selected="true">
      <SubTabs>
        <Tab text="单点登录(SSO)" href="platform/background_integrationSSO.aspx"  target="right" />
        <Tab text="用户中心(UserCenter)" href="platform/background_integrationUserCenter.aspx"  target="right" />
        <Tab text="第三方账号集成" href="platform/background_integrationAuth.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="支付工具" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true" permissions="platform_payment">
      <SubTabs>
        <Tab text="管理点卡类型" href="platform/background_cardType.aspx" target="right" />
        <Tab text="管理点卡" href="platform/background_card.aspx" target="right" />
        <Tab text="管理支付接口" href="platform/background_payment.aspx" target="right" />
        <Tab text="管理支付记录" href="platform/background_payRecord.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="后台访问限制" permissions="platform_restriction" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif" selected="true">
      <SubTabs>
        <Tab text="黑名单" href="platform/background_restrictionList.aspx?Type=Black" target="right" />
        <Tab text="白名单" href="platform/background_restrictionList.aspx?Type=White" target="right" />
        <Tab text="访问限制选项" href="platform/background_restrictionOptions.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="数据库工具" permissions="platform_database" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="数据库表结构查看器" href="platform/background_dbTableStructure.aspx"  target="right" />
        <Tab text="SQL语句查询" href="platform/background_dbSqlQuery.aspx"  target="right"/>
        <Tab text="执行SQL命令" href="platform/background_dbSqlExecute.aspx" target="right"/>
        <Tab text="清空数据库日志" href="platform/background_dbLogDelete.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="实用工具" permissions="platform_utility" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/utils.gif" selected="true">
      <SubTabs>
        <Tab text="机器参数查看" href="platform/background_parameter.aspx" target="right" />
        <Tab text="缓存内容" href="platform/background_cache.aspx" target="right"/>
        <Tab text="加密字符串" href="platform/background_encrypt.aspx" target="right"/>
        <Tab text="JS脚本压缩" href="platform/background_jsMin.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="后台运行记录" permissions="platform_log" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/log.gif" selected="true">
      <SubTabs>
        <Tab text="管理员日志" href="platform/background_log.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
