<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab id="UserRole" text="成员权限" permissions="platform_administrator,platform_user,platform_userConfiguration,platform_payment" />
	<Tab id="SystemTools" text="平台配置" permissions="platform_product,platform_restriction,platform_utility,platform_log" />
 
	<Tab text="在线帮助" href="http://help.siteserver.cn" target="_blank" />
</Tabs>
</TabCollection>