<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab text="管理员管理" permissions="platform_administrator" iconUrl="~/sitefiles/bairong/Icons/menu/administrator.gif" selected="true">
		<SubTabs>
			<Tab text="创建角色" addtionalString="Not (Standard)" href="platform/background_roleAdd.aspx" keepQueryString="true" target="right"/>
			<Tab text="管理角色" addtionalString="Not (Standard)" href="platform/background_role.aspx" keepQueryString="true" target="right"/>
			<Tab text="添加管理员" href="platform/background_administratorAdd.aspx" target="right"/>
			<Tab text="管理员管理" href="platform/background_administrator.aspx" keepQueryString="true" target="right"/>
		</SubTabs>
	</Tab>
	
	<Tab text="用户管理" permissions="platform_user" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true">
		<SubTabs>
			<Tab text="添加用户" href="usercenter/background_userAdd.aspx" target="right"/>
			<Tab text="用户管理" href="usercenter/background_user.aspx" target="right"/>
			<Tab text="审核新用户" href="usercenter/background_userCheck.aspx" target="right"/>
			<Tab text="用户字段管理" href="usercenter/background_userTableStyle.aspx" target="right"/>
			<!--<Tab text="合并用户组/用户" href="UserCenter/background_userMerge.aspx" target="right"/>-->
			<Tab text="用户类型管理" href="usercenter/background_userType.aspx" target="right"/>
		</SubTabs>
	</Tab>
	
	<Tab text="用户中心设置" addtionalString="Not (Standard)" permissions="platform_userConfiguration" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true">
		<SubTabs>
      <Tab text="用户注册设置" href="usercenter/background_userConfigRegister.aspx" target="right"/>
      <!--<Tab text="用户中心界面" href="usercenter/background_userConfigTheme.aspx" target="right"/>-->
			<Tab text="功能模块开启" href="usercenter/background_userConfigFunction.aspx" target="right"/>
			<Tab text="用户邮件设置" href="usercenter/background_userConfigMail.aspx"  target="right" />
			<Tab text="手机短信设置" href="usercenter/background_userConfigSMS.aspx"  target="right" />
			<Tab text="上传文件配置" href="usercenter/background_userConfigUpload.aspx" target="right"/>
			<Tab text="图片水印配置" href="usercenter/background_userConfigWaterMark.aspx" target="right"/>
		</SubTabs>
	</Tab>
</Tabs>
</TabCollection>