<?xml version="1.0" encoding="utf-8"?>
<ThemesConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <StylesConfig>
    <StyleCollections>
      <ThemesStyleCollection DirectoryName="simple" DisplayName="简洁">
        <Styles>
          <ThemesStyle>
            <DirectoryName>default</DirectoryName>
            <DisplayName>默认</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0201</DirectoryName>
            <DisplayName>p0201</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0401</DirectoryName>
            <DisplayName>p0401</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0501</DirectoryName>
            <DisplayName>p0501</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0701</DirectoryName>
            <DisplayName>p0701</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0203</DirectoryName>
            <DisplayName>p0203</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0403</DirectoryName>
            <DisplayName>p0403</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0503</DirectoryName>
            <DisplayName>p0503</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0603</DirectoryName>
            <DisplayName>p0603</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0703</DirectoryName>
            <DisplayName>p0703</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0803</DirectoryName>
            <DisplayName>p0803</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0204</DirectoryName>
            <DisplayName>p0204</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0504</DirectoryName>
            <DisplayName>p0504</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0604</DirectoryName>
            <DisplayName>p0604</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0704</DirectoryName>
            <DisplayName>p0704</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0004</DirectoryName>
            <DisplayName>p0004</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p0304</DirectoryName>
            <DisplayName>p0304</DisplayName>
          </ThemesStyle>
        </Styles>
      </ThemesStyleCollection>
      <ThemesStyleCollection DirectoryName="other" DisplayName="其他主题">
        <Styles>
          <ThemesStyle>
            <DirectoryName>p21</DirectoryName>
            <DisplayName>p21</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p22</DirectoryName>
            <DisplayName>p22</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p23</DirectoryName>
            <DisplayName>p23</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p24</DirectoryName>
            <DisplayName>p24</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p25</DirectoryName>
            <DisplayName>p25</DisplayName>
          </ThemesStyle>
		  <ThemesStyle>
            <DirectoryName>p26</DirectoryName>
            <DisplayName>p26</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p27</DirectoryName>
            <DisplayName>p27</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p28</DirectoryName>
            <DisplayName>p28</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p29</DirectoryName>
            <DisplayName>p29</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1001</DirectoryName>
            <DisplayName>p1001</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1002</DirectoryName>
            <DisplayName>p1002</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1003</DirectoryName>
            <DisplayName>p1003</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1004</DirectoryName>
            <DisplayName>p1004</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1005</DirectoryName>
            <DisplayName>p1005</DisplayName>
          </ThemesStyle>
          <ThemesStyle>
            <DirectoryName>p1006</DirectoryName>
            <DisplayName>p1006</DisplayName>
          </ThemesStyle>
		  <ThemesStyle>
            <DirectoryName>p4005</DirectoryName>
            <DisplayName>p4005</DisplayName>
          </ThemesStyle>
        </Styles>
      </ThemesStyleCollection>
    </StyleCollections>
  </StylesConfig>
</ThemesConfig>
