<?xml version="1.0" encoding="utf-8" ?> 
<RewriterConfig>
	<Rules>
		<!-- 通 用 -->
		<RewriterRule>
			<LookFor>~/livefiles/(.+)</LookFor>
			<IsRewriting>false</IsRewriting>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/trackback/(.+)</LookFor>
			<IsRewriting>false</IsRewriting>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/siteserver/(.+)</LookFor>
			<IsRewriting>false</IsRewriting>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/livefiles/pages/slideshow/([^/]+)/groupxml.aspx</LookFor>
			<SendTo>~/livefiles/pages/slideshow/groupxml.aspx?PhotoContentIDCollection=$1</SendTo>
		</RewriterRule>
		
		<!--博 客-->
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/categories/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1&amp;categoryName=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/tags/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/blog/tags/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/tags/edit/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/blog/tags/tagsEdit.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/tags/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/archives/default.aspx</LookFor>
			<SendTo>~/livefiles/blog/archives/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/archives/(\d+)/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/archives/archives.aspx?userName=$1&amp;year=$2&amp;month=$3&amp;day=$4</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/archives/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/archives/archives.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/archives/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/archives/archives.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/(\d+)/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1&amp;year=$2&amp;month=$3&amp;day=$4</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/(\d+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/blog/content.aspx?userName=$1&amp;contentID=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/blog/default.aspx</LookFor>
			<SendTo>~/livefiles/blog/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		
		<!--相 册-->
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/sets/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/sets/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/sets/setedit.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/sets/setedit.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/sets/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/sets/setContents.aspx?userName=$1&amp;setID=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/sets/detail/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/sets/setDetailContents.aspx?userName=$1&amp;setID=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/tags/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/tags/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/tags/edit/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/tags/tagsEdit.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/tags/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/tags/tagContents.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/default.aspx</LookFor>
			<SendTo>~/livefiles/photo/archives/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/(\d+)/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/archives.aspx?userName=$1&amp;year=$2&amp;month=$3&amp;day=$4</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/archives.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/archives.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/detail/(\d+)/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/detail/archives.aspx?userName=$1&amp;year=$2&amp;month=$3&amp;day=$4</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/detail/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/detail/archives.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/archives/detail/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/archives/detail/archives.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/default.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/default.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/thumbnail/(\d+)/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/thumbnail/default.aspx?userName=$1&amp;year=$2&amp;month=$3</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/thumbnail/(\d+)/.+</LookFor>
			<SendTo>~/livefiles/photo/thumbnail/default.aspx?userName=$1&amp;year=$2</SendTo>
		</RewriterRule>
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/(\d+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/photo/content.aspx?userName=$1&amp;contentID=$2</SendTo>
		</RewriterRule>	
		
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/photo/default.aspx</LookFor>
			<SendTo>~/livefiles/photo/default.aspx?userName=$1</SendTo>
		</RewriterRule>	
		
		<!--收 藏-->
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/tags/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/tags/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/tags/edit/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/tags/tagsEdit.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/tags/(\w+)\.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/default.aspx?userName=$1&amp;tagName=$2</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/addurl/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/addurl/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/myweb/subscribe/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/myweb/subscribe/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		
		<!--好 友-->
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/friends/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/friends/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/friends/interview/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/friends/interview/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/friends/visitors/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/friends/visitors/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/friends/message/default.aspx?.+</LookFor>
			<SendTo>~/livefiles/friends/message/default.aspx?userName=$1</SendTo>
		</RewriterRule>
		
		<!--个人主页-->
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/([\w/]+)\.aspx</LookFor>
			<SendTo>~/livefiles/$2.aspx?userName=$1</SendTo>
		</RewriterRule>
		<RewriterRule>
			<LookFor>~/_space_/(\w+)/([\w/]+)\.aspx\?(.+)</LookFor>
			<SendTo>~/livefiles/$2.aspx?userName=$1</SendTo>
		</RewriterRule>
		
	</Rules>
</RewriterConfig>