<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab name="home" iconUrl="~/sitefiles/bairong/Icons/menu/home.gif" text="主页" href="_url_/_username_/default.aspx"></Tab>
	<Tab name="blog" id="LiveServer_Blog" iconUrl="~/sitefiles/bairong/Icons/menu/blog.gif" text="博客" href="_url_/_username_/blog/default.aspx"></Tab>
	<Tab name="photo" id="LiveServer_Photo" iconUrl="~/sitefiles/bairong/Icons/menu/photo.gif" text="相册" href="_url_/_username_/photo/default.aspx" ></Tab>
	<Tab name="myweb" id="LiveServer_MyWeb" iconUrl="~/sitefiles/bairong/Icons/menu/myweb.gif" text="收藏" href="_url_/_username_/myweb/default.aspx" ></Tab>
	<Tab name="friends" id="LiveServer_Friends" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" text="好友" href="_url_/_username_/friends/default.aspx"></Tab>

</Tabs>
</TabCollection>