<?xml version="1.0" encoding="utf-8" ?> 
<RewriterConfig>
	<Rules>
    <RewriterRule>
      <LookFor>_url_/thread-(\d+)-(\d+)-(\d+).aspx.*</LookFor>
      <SendTo>_url_/thread.aspx?forumID=$1&amp;threadID=$2&amp;page=$3</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/thread-(\d+)-(\d+).aspx.*</LookFor>
      <SendTo>_url_/thread.aspx?forumID=$1&amp;threadID=$2</SendTo>
    </RewriterRule>
	</Rules>
</RewriterConfig>