<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{Channel.Title}-{Stl.SiteName}</title>
<!-- header -->
<stl:include file="/include/header.html"></stl:include>

	<!--header 头部结束-->




<link href="/templets/nettac/images/help_about.css" rel="stylesheet" type="text/css" />

	 <div class="h_header solid"></div>

<div class="marb20"></div>

<div class="layout solid">

<stl:include file="/include/left_nav.html"></stl:include> 
   
    <div class="h_mainright">
    	<div class="h_location">您现在的位：<stl:location separator=" > "></stl:location></div>
      	<div class="marb20"></div>
   <div class="h_gsdt">
		
          
<div class="h_fzlc">
 <div class="fznr">
 	<ul>
	<stl:pageContents scope="SelfAndChildren" pageNum="20" cellpadding="2" cellspacing="2">
		<li>
            <div class="time">{Content.AddDate}</div>
            <div class="text">
                <p>{Content.Title}</p>
            </div>
          </li>
 	</stl:pageContents>
    </ul>
 </div>
</div>


<br />
    <stl:pageItems>
        <table cellpadding="0" cellspacing="0" width="90%" height="40" align="center" class="page_table">
        <tr><td align="left">
        <stl:pageItem type="FirstPage" text="首页"></stl:pageItem> |
        <stl:pageItem type="PreviousPage" text="上一页"></stl:pageItem> |
        <stl:pageItem type="NextPage" text="下一页"></stl:pageItem> |
        <stl:pageItem type="LastPage" text="末页"></stl:pageItem>
        </td><td align="right">
        <stl:pageItem type="TotalPageNum" text="共"></stl:pageItem>页
        <stl:pageItem type="TotalNum"></stl:pageItem>条
        <stl:pageItem type="PageSelect"></stl:pageItem>
        <stl:pageItem type="CurrentPageIndex" text="当前页："></stl:pageItem>
        <stl:pageItem type="PageNavigation"></stl:pageItem>
        </td></tr></table>
    </stl:pageItems>

           
<div class="marb20"></div>

<stl:include file="/include/服务器推荐.html"></stl:include>

        </div>
    </div>
    
</div>


<div class="marb20"></div>



<DIV class=marb20></DIV>


	<!--footer 底部开始-->

<stl:include file="/include/flooter.html"></stl:include>


	<!--footer 底部结束-->


<!-- 客服 -->
<stl:include file="/include/services.html"></stl:include>








</BODY>
</HTML>
