<?xml version="1.0" encoding="utf-8" ?> 
<RewriterConfig>
	<Rules>
    <RewriterRule>
      <LookFor>_url_/index.aspx</LookFor>
      <SendTo>~/ask/default.aspx</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/default.aspx</LookFor>
      <SendTo>~/ask/default.aspx</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/view-(\d+).aspx</LookFor>
      <SendTo>~/ask/view.aspx?id=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>_url_/list-(\d+).aspx</LookFor>
      <SendTo>~/ask/list.aspx?catalogID=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/list-(\w+)-p(\d+).aspx</LookFor>
      <SendTo>~/ask/list.aspx?type=$1&amp;page=$2</SendTo>
    </RewriterRule>
	  <RewriterRule>
      <LookFor>_url_/list-(\w+).aspx</LookFor>
      <SendTo>~/ask/list.aspx?type=$1</SendTo>
    </RewriterRule>
	  <RewriterRule>
      <LookFor>_url_/list-(\w+)-(\d+).aspx</LookFor>
      <SendTo>~/ask/list.aspx?type=$1&amp;catalogID=$2</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>_url_/list-(\w+)-(\d+)-p(\d+).aspx</LookFor>
      <SendTo>~/ask/list.aspx?type=$1&amp;catalogID=$2&amp;page=$3</SendTo>
    </RewriterRule>
    
	  <RewriterRule>
      <LookFor>_url_/set-(\w+).aspx</LookFor>
      <SendTo>~/ask/set.aspx?type=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>_url_/announcement-(\d+).aspx</LookFor>
      <SendTo>~/ask/announcement.aspx?id=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>_url_/userinfo-(\w+).aspx</LookFor>
      <SendTo>~/ask/userinfo.aspx?uname=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myquestion-p(\d+).aspx</LookFor>
      <SendTo>~/ask/myquestion.aspx?page=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myquestion-(\w+).aspx</LookFor>
      <SendTo>~/ask/myquestion.aspx?type=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myquestion-(\w+)-p(\d+).aspx</LookFor>
      <SendTo>~/ask/myquestion.aspx?type=$1&amp;page=$2</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myanswer-p(\d+).aspx</LookFor>
      <SendTo>~/ask/myanswer.aspx?page=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myanswer-(\w+).aspx</LookFor>
      <SendTo>~/ask/myanswer.aspx?type=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myanswer-(\w+)-p(\d+).aspx</LookFor>
      <SendTo>~/ask/myanswer.aspx?type=$1&amp;page=$2</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/myvote-p(\d+).aspx</LookFor>
      <SendTo>~/ask/myvote.aspx?page=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/search-p(\d+).aspx.+</LookFor>
      <SendTo>~/ask/search.aspx?page=$1</SendTo>
    </RewriterRule>
	<RewriterRule>
      <LookFor>_url_/(\w+).aspx</LookFor>
      <SendTo>~/ask/$1.aspx</SendTo>
    </RewriterRule>
	</Rules>
</RewriterConfig>