<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>	
	<Tab id="Content" text="信息管理" permissions="ContentView,ContentAdd,ContentEdit,ContentDelete,ContentTranslate,ContentAuxiliaryEdit,ChannelAdd,ChannelEdit,ChannelDelete,ChannelTranslate,ChannelAuxiliaryEdit,CommentDelete,CommentCheck,CreatePage,WebsiteGroup,WebsiteTableStyle,WebsiteContentTrash,WebsiteSiteAnalysis" iconUrl="~/sitefiles/bairong/Icons/menu/content.gif" selected="true">
		<SubTabs>
			<Tab text="内容及栏目管理" permissions="ChannelEdit,ChannelDelete,ChannelTranslate,CreatePage,PublishPage,ContentView,ContentAdd,ContentEdit,ContentDelete,ContentTranslate,ContentCheck,CommentDelete,CommentCheck,CreatePage" href="cms/background_contentchannel.aspx" keepQueryString="true" target="right"/>
			<Tab text="内容管理" permissions="ContentView,ContentAdd,ContentEdit,ContentDelete,ContentTranslate,ContentCheck,CommentDelete,CommentCheck,CreatePage,PublishPage" href="cms/background_contentMain.aspx" keepQueryString="true" target="right" />
			<Tab text="栏目管理" permissions="ChannelEdit,ChannelDelete,ChannelTranslate,CreatePage,PublishPage" href="cms/background_channel.aspx" keepQueryString="true" target="right"/>
			<Tab text="内容审核" permissions="ContentCheck" href="cms/background_contentCheck.aspx" keepQueryString="true" target="right" />
			<Tab text="内容搜索" permissions="ContentAdd,ContentEdit,ContentDelete,ContentTranslate,ContentCheck,CommentDelete,CommentCheck" href="cms/background_contentSearch.aspx" keepQueryString="true" target="right" />
			<Tab text="评论管理" permissions="CommentDelete,CommentCheck" href="cms/background_commentSearch.aspx" keepQueryString="true" target="right" />
			<Tab text="批量转移" permissions="ContentTranslate,ChannelTranslate" href="cms/background_channelTranslate.aspx" keepQueryString="true" target="right"/>
			<Tab text="归类管理" permissions="WebsiteGroup" iconUrl="~/sitefiles/bairong/Icons/menu/group.gif">
				<SubTabs>
					<Tab text="栏目组管理" href="cms/background_nodeGroup.aspx" keepQueryString="true" target="right" />
					<Tab text="内容组管理" href="cms/background_contentGroup.aspx" keepQueryString="true" target="right" />
					<Tab text="内容标签管理" href="cms/background_contentTags.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/tags.gif" keepQueryString="true" target="right" />
				</SubTabs>
			</Tab>
      <Tab text="内容模型" addtionalString="Not (Standard)" permissions="WebsiteTableStyle" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif">
        <SubTabs>
          <Tab text="内容模型管理" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" href="cms/background_contentModel.aspx" keepQueryString="true" target="right" />
		      <Tab text="联动字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/relatedField.gif" href="cms/background_relatedField.aspx" keepQueryString="true" target="right"/>
          <Tab text="内容字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleContent.aspx" keepQueryString="true" target="right"/>
          <Tab text="栏目字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleChannel.aspx?TableStyle=Channel" keepQueryString="true" target="right"/>
          <Tab text="评论字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleChannel.aspx?TableStyle=Comment" keepQueryString="true" target="right"/>
        </SubTabs>
      </Tab>
			<Tab text="归档内容管理" addtionalString="Only (All)" permissions="WebsiteContentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/archive.gif" href="cms/background_contentArchive.aspx" keepQueryString="true" target="right" />
			<Tab text="内容回收站" permissions="WebsiteContentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/trash.gif" href="cms/background_contentTrash.aspx" keepQueryString="true" target="right" />
			<Tab text="站点数据统计" addtionalString="Not (Standard)" permissions="WebsiteSiteAnalysis" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif">
			<SubTabs>
			  <Tab text="管理员工作量统计" href="cms/background_analysisAdministrator.aspx" keepQueryString="true" target="right" />
			  <Tab text="用户投稿量统计" href="cms/background_analysisUser.aspx" keepQueryString="true" target="right"/>
			  <Tab text="内容点击量排名" href="cms/background_analysisContentHits.aspx" keepQueryString="true" target="right"/>
			  <Tab text="文件下载量排名" href="cms/background_analysisContentDownloads.aspx" keepQueryString="true" target="right"/>
			</SubTabs>
		  </Tab>
		</SubTabs>
	</Tab>
	
	<Tab id="Function" text="功能管理" permissions="WebsiteInputContentView,WebsiteInputContentEdit,WebsiteInput,WebsiteVote,WebsiteGather,WebsiteSEO,WebsiteAdvertisement,WebsiteInnerLink,WebsiteTracking,WebsiteBackup,WebsiteMail,WebsiteFileManagement,WebsiteAllWord,WebsiteAllPublish,WebsiteAllTask,WebsiteIntegration" iconUrl="~/sitefiles/bairong/Icons/menu/function.gif">
		<SubTabs>
			
			<Tab text="提交表单" id="InputManagement" permissions="WebsiteInputContentView,WebsiteInputContentEdit,WebsiteInput" iconUrl="~/sitefiles/bairong/Icons/menu/input.gif">
				<SubTabs>
					<Tab text="提交表单管理" permissions="WebsiteInput" href="cms/background_input.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			<!--<Tab text="专题管理" id="TopicManagement" permissions="WebsiteTopic" iconUrl="~/sitefiles/bairong/Icons/menu/topic.gif">
				<SubTabs>
					<Tab text="专题页面管理" permissions="WebsiteTopic" href="cms/background_topic.aspx" keepQueryString="true" target="right"/>
					<Tab text="专题模板管理" permissions="WebsiteTopic" href="cms/background_topic.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>-->
			
			<Tab text="投票管理" permissions="WebsiteVote" iconUrl="~/sitefiles/bairong/Icons/menu/vote.gif" href="cms/background_vote.aspx" keepQueryString="true" target="right">
				<SubTabs>
					<Tab text="新增投票" href="cms/background_voteAdd.aspx" keepQueryString="true" target="right"/>
					<Tab text="投票管理" href="cms/background_vote.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			
			<Tab text="信息采集管理" addtionalString="Not (Standard)" permissions="WebsiteGather" iconUrl="~/sitefiles/bairong/Icons/menu/gather.gif">
				<SubTabs>
					<Tab text="Web页面信息采集" href="cms/background_gatherRule.aspx" keepQueryString="true" target="right"/>
					<Tab text="数据库信息采集" href="cms/background_gatherDatabaseRule.aspx" keepQueryString="true" target="right"/>
					<Tab text="单文件页采集" href="cms/background_gatherFileRule.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			
			<Tab text="广告管理" addtionalString="Not (Standard)" permissions="WebsiteAdvertisement" iconUrl="~/sitefiles/bairong/Icons/menu/advertisement.gif">
				<SubTabs>
					<Tab text="飘浮广告管理" href="cms/background_advertisement.aspx" keepQueryString="true" target="right"/>
					<Tab text="固定广告管理" href="cms/background_ad.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>

      <Tab id="ResumeManagement" text="简历管理" addtionalString="Not (Standard)" permissions="WebsiteResume" iconUrl="~/sitefiles/bairong/Icons/menu/job.gif">
        <SubTabs>
          <Tab text="简历提交样式" href="cms/background_tagStyle.aspx?elementName=stl:resume" keepQueryString="true" target="right"/>
        </SubTabs>
      </Tab>
			
			<Tab text="邮件发送管理" addtionalString="Not (Standard)" permissions="WebsiteMail" iconUrl="~/sitefiles/bairong/Icons/menu/email.gif">
				<SubTabs>
					<Tab text="推荐好友管理">
						<SubTabs>
							<Tab text="推荐好友记录" href="cms/background_mailSendLog.aspx" keepQueryString="true" target="right"/>
							<Tab text="邮件格式设置" href="cms/background_mailSendFormat.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="邮件订阅管理">
						<SubTabs>
							<Tab text="邮件订阅列表" href="cms/background_mailSubscribe.aspx" keepQueryString="true" target="right"/>
							<Tab text="邮件格式设置" href="cms/background_mailSubscribeFormat.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
				</SubTabs>
			</Tab>
			
			<Tab text="搜索引擎优化" addtionalString="Not (Standard)" permissions="WebsiteSEO" iconUrl="~/sitefiles/bairong/Icons/menu/seo.gif">
				<SubTabs>					
					<Tab text="页面元数据(Meta)">
						<SubTabs>
							<Tab text="页面元数据设置" href="cms/background_seoMetaList.aspx" keepQueryString="true" target="right"/>
							<Tab text="页面元数据匹配" href="cms/background_seoMetaMatch.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="站点地图(SiteMap)">
						<SubTabs>
							<Tab text="谷歌站点地图" href="cms/background_seoSiteMapGoogle.aspx" keepQueryString="true" target="right"/>
							<Tab text="百度新闻地图" href="cms/background_seoSiteMapBaidu.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					
				</SubTabs>
			</Tab>
			
			<Tab text="流量统计管理" addtionalString="Not (Standard)" permissions="WebsiteTracking" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif" href="cms/background_tracker.aspx" keepQueryString="true" target="right">
				<SubTabs>
					<Tab text="统计摘要" href="cms/background_tracker.aspx" keepQueryString="true" target="right"/>
					<Tab text="站点流量统计">
						<SubTabs>
							<Tab text="栏目流量统计" href="cms/background_trackerChannelAnalysis.aspx" keepQueryString="true" target="right"/>
							<Tab text="内容流量统计" href="cms/background_trackerContentAnalysis.aspx" keepQueryString="true" target="right"/>
							<Tab text="内容流量排名" href="cms/background_trackerContentRank.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="分时统计">
						<SubTabs>
							<Tab text="最近访问统计" href="cms/background_trackerCurrentVisitors.aspx" keepQueryString="true" target="right"/>
							<Tab text="24小时统计" href="cms/background_trackerHour.aspx" keepQueryString="true" target="right"/>
							<Tab text="天统计" href="cms/background_trackerDay.aspx" keepQueryString="true" target="right"/>
							<Tab text="月统计" href="cms/background_trackerMonth.aspx" keepQueryString="true" target="right"/>
							<Tab text="年统计" href="cms/background_trackerYear.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="来源统计">
						<SubTabs>
							<Tab text="受访页面统计" href="cms/background_trackerPageUrl.aspx" keepQueryString="true" target="right"/>
							<Tab text="来访网址统计" href="cms/background_trackerReferrer.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="客户端统计">
						<SubTabs>
							<Tab text="操作系统统计" href="cms/background_trackerOS.aspx" keepQueryString="true" target="right"/>
							<Tab text="浏览器统计" href="cms/background_trackerBrowser.aspx" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					<Tab text="修改统计设置" href="cms/background_trackerEdit.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			
			<Tab text="站内链接管理" addtionalString="Not (Standard)" permissions="WebsiteInnerLink" iconUrl="~/sitefiles/bairong/Icons/menu/innerlink.gif">
				<SubTabs>
					<Tab text="站内链接管理" href="cms/background_innerlink.aspx" keepQueryString="true" target="right"/>
					<Tab text="站内链接设置" href="cms/background_configurationinnerlink.aspx" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			
			<Tab text="页面访问限制" addtionalString="Not (Standard)" permissions="WebsiteRestriction" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif">
				<SubTabs>
					<Tab text="黑名单" href="cms/background_restrictionList.aspx?Type=Black" keepQueryString="true" target="right" />
					<Tab text="白名单" href="cms/background_restrictionList.aspx?Type=White" keepQueryString="true" target="right" />
					<Tab text="访问限制配置" href="cms/background_restrictionOptions.aspx" keepQueryString="true"  target="right" />
				</SubTabs>
			</Tab>
			
			<Tab text="数据备份恢复" addtionalString="Not (Standard)" permissions="WebsiteBackup" iconUrl="~/sitefiles/bairong/Icons/menu/backup.gif">
				<SubTabs>
					<Tab text="数据备份" href="cms/background_backup.aspx" keepQueryString="true" target="right"/>
					<Tab text="数据恢复" href="cms/background_backupRecovery.aspx" keepQueryString="true" target="right"/>
          <Tab text="管理备份文件" href="cms/background_backup.aspx?isRedirectToFiles=True" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			
			<Tab text="站点文件管理" addtionalString="Not (Standard)" permissions="WebsiteFileManagement" iconUrl="~/sitefiles/bairong/Icons/menu/file.gif" href="cms/background_fileMain.aspx?RootPath=@/" keepQueryString="true" target="right"></Tab>
						
			<Tab text="多服务器发布" addtionalString="Only (All)" permissions="WebsiteAllPublish" iconUrl="~/sitefiles/bairong/Icons/menu/publish.gif" href="cms/background_fileDeploymentMain.aspx?RootPath=@/" keepQueryString="true" target="right"></Tab>
			
			<Tab text="定时任务管理" addtionalString="Only (All)" permissions="WebsiteAllTask" iconUrl="~/sitefiles/bairong/Icons/menu/task.gif">
				<SubTabs>
					<Tab text="定时生成任务" href="cms/background_task.aspx?ServiceType=Create" keepQueryString="true" target="right"/>
					<Tab text="定时发布任务" href="cms/background_task.aspx?ServiceType=Publish" keepQueryString="true" target="right"/>
					<Tab text="定时采集任务" href="cms/background_task.aspx?ServiceType=Gather" keepQueryString="true" target="right"/>
					<Tab text="定时备份任务" href="cms/background_task.aspx?ServiceType=Backup" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
      <Tab text="bShare分享插件" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/bShare.gif" permissions="WebsitebSharePlug" >
        <SubTabs>
          <Tab text="插件设置" href="cms/background_shareSet.aspx" keepQueryString="true" target="right"/>
          <Tab text="统计信息" href="cms/background_shareStatistics.aspx" keepQueryString="true" target="right" />
        </SubTabs>
      </Tab>
		</SubTabs>
	</Tab>
	
	<Tab id="Template" text="显示管理" permissions="WebsiteTemplate" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif">
		<SubTabs>
				<Tab text="模板管理" href="cms/background_template.aspx" keepQueryString="true" target="right" />
				<Tab text="匹配模板" href="cms/background_templateMatch.aspx" keepQueryString="true" target="right"/>
				<Tab text="模版方案" href="cms/background_templateRule.aspx" keepQueryString="true" target="right"/>
				<Tab text="页面命名规则" href="cms/background_templateFilePathRule.aspx" keepQueryString="true" target="right"/>
				<Tab text="包含文件管理" href="cms/background_templateInclude.aspx" keepQueryString="true" target="right"/>
				<Tab text="模板标签样式" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/tagStyle.gif">
					<SubTabs>
					<Tab text="内容提交样式" href="cms/background_tagStyleContentInput.aspx" keepQueryString="true" target="right"/>
					<Tab text="评论提交样式" href="cms/background_tagStyleCommentInput.aspx" keepQueryString="true" target="right"/>
					<Tab text="评论列表样式" href="cms/background_tagStyle.aspx?elementName=stl:comments" keepQueryString="true" target="right"/>
					<Tab text="搜索框样式" href="cms/background_tagStyle.aspx?elementName=stl:searchinput" keepQueryString="true" target="right"/>
					<Tab text="下拉菜单样式" href="cms/background_tagStyleMenu.aspx" keepQueryString="true" target="right"/>
					<Tab text="用户功能样式">
						<SubTabs>
						<Tab text="用户登录样式" href="cms/background_tagStyle.aspx?elementName=stl:login" keepQueryString="true" target="right"/>
						<Tab text="用户注册样式" href="cms/background_tagStyle.aspx?elementName=stl:register" keepQueryString="true" target="right"/>
						</SubTabs>
					</Tab>
					</SubTabs>
				</Tab>
				<Tab text="模板语言参考" addtionalString="Not (Standard)" href="cms/background_templateReference.aspx" keepQueryString="true" target="right"/>
				<Tab text="自定义模板语言" addtionalString="Not (Standard)" href="cms/background_stlTag.aspx" keepQueryString="true" target="right"/>
				 <!--<Tab text="生成常用标签" href="cms/background_stlCreate.aspx" keepQueryString="true" target="right"/> -->
		</SubTabs>
	</Tab>
	
	<Tab id="Configration" text="配置管理" permissions="WebsiteConfigration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
		<SubTabs>
			<Tab text="站点配置" href="cms/background_configurationSite.aspx" keepQueryString="true" target="right"/>
			<Tab text="内容管理配置" href="cms/background_configurationContent.aspx" keepQueryString="true" target="right"/>
			<Tab text="上传文件配置" href="cms/background_configurationUpload.aspx" keepQueryString="true" target="right"/>
			<Tab text="图片水印配置" addtionalString="Not (Standard)" href="cms/background_configurationWaterMark.aspx" keepQueryString="true" target="right"/>
			<Tab text="邮件发送配置" href="cms/background_configurationMail.aspx" keepQueryString="true" target="right"/>
			<Tab text="跨站转发设置" addtionalString="Not (Standard)" href="cms/background_configurationCrossSiteTrans.aspx" keepQueryString="true" target="right"/>
			<Tab text="页面生成设置" href="cms/background_configurationCreate.aspx" keepQueryString="true" target="right"/>
			<Tab text="服务器管理" addtionalString="Only (All)" iconUrl="~/sitefiles/bairong/Icons/menu/machine.gif">
				<SubTabs>
					<Tab text="发布服务器管理" href="cms/background_machine.aspx?ServiceType=Publish" keepQueryString="true" target="right"/>
					<Tab text="备份服务器管理" href="cms/background_machine.aspx?ServiceType=Backup" keepQueryString="true" target="right"/>
				</SubTabs>
			</Tab>
			<Tab text="Powered by 设置" href="cms/background_configurationPoweredBy.aspx" keepQueryString="true" target="right"/>
      <Tab text="用户投稿设置" href="cms/background_userContributeSet.aspx" keepQueryString="true" target="right"/>
		</SubTabs>
	</Tab>
	
	<Tab id="Create" text="生成管理" permissions="WebsiteCreate" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif">
		<SubTabs>
				<Tab text="生成首页" href="cms/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right"/>
				<Tab text="生成栏目页" href="cms/background_createChannel.aspx" keepQueryString="true" target="right"/>
				<Tab text="生成内容页" href="cms/background_createContent.aspx" keepQueryString="true" target="right"/>
				<Tab text="生成文件页" href="cms/background_createFile.aspx" keepQueryString="true" target="right"/>
				<!-- <Tab text="快速生成" href="cms/background_createAll.aspx" keepQueryString="true" target="right"/> -->
		</SubTabs>
	</Tab>

</Tabs>
</TabCollection>