<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
	<Tab text="辅助表管理" permissions="cms_auxiliary" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="添加辅助表" href="cms/console_auxiliaryTableAdd.aspx"  target="right" />
        <Tab text="辅助表管理" href="cms/console_auxiliaryTable.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="系统站点管理" permissions="cms_siteManagement" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" selected="true">
      <SubTabs>
        <Tab text="新建站点" href="cms/console_publishmentSystemAdd.aspx"  target="right"/>
        <Tab text="系统站点管理" href="cms/console_publishmentSystem.aspx"  target="right"/>
        <Tab text="访问地址管理" href="cms/console_publishmentSystemUrl.aspx"  target="right"/>
        <Tab text="站点模板管理" href="cms/console_siteTemplate.aspx"  target="right"/>
        <Tab text="在线模板下载" href="cms/console_siteTemplateOnline.aspx"  target="right"/>
        <Tab text="站点数据统计" addtionalString="Not (Standard)" href="cms/console_siteAnalysis.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="站点用户管理" permissions="cms_user" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true">
      <SubTabs>
        <Tab text="用户管理" href="cms/console_user.aspx" target="right"/>
        <Tab text="用户组管理" href="cms/console_userGroup.aspx" target="right"/>
		<Tab text="用户邮件群发" href="cms/console_userMail.aspx" target="right"/>
    <Tab text="用户消息群发" href="cms/console_userMessage.aspx" target="right"/>
		<Tab text="用户短信群发" href="cms/console_userSMS.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="站点通用配置" permissions="cms_siteSettings" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="站点投稿设置" href="cms/console_userConfigContribute.aspx" target="right"/>
        <Tab text="站点文件管理" iconUrl="~/sitefiles/bairong/Icons/menu/file.gif" href="cms/background_fileMain.aspx?RootPath=~/" keepQueryString="true" target="right"></Tab>
        <Tab text="定时任务管理" addtionalString="Only (All)" iconUrl="~/sitefiles/bairong/Icons/menu/task.gif">
          <SubTabs>
            <Tab text="定时生成任务" href="cms/background_task.aspx?ServiceType=Create&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时发布任务" href="cms/background_task.aspx?ServiceType=Publish&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时采集任务" href="cms/background_task.aspx?ServiceType=Gather&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时备份任务" href="cms/background_task.aspx?ServiceType=Backup&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="服务器管理" addtionalString="Only (All)" iconUrl="~/sitefiles/bairong/Icons/menu/machine.gif">
          <SubTabs>
            <Tab text="发布服务器管理" href="cms/background_machine.aspx?ServiceType=Publish&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="备份服务器管理" href="cms/background_machine.aspx?ServiceType=Backup&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab text="后台运行记录" permissions="cms_log" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/log.gif" selected="true">
      <SubTabs>
        <Tab text="站点管理日志" href="cms/console_logCMS.aspx" target="right" />
        <Tab text="任务运行日志" href="cms/console_logTask.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
