<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab id="SiteManagement" text="站点管理" href="loading.aspx?RedirectType=Loading&amp;RedirectUrl=cms/background_leftSiteSelect.aspx" />
	<Tab id="SiteConfiguration" text="站点配置" permissions="cms_auxiliary,cms_siteManagement,cms_log,cms_siteSettings,cms_user" />
</Tabs>
</TabCollection>