<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="版块" iconUrl="~/sitefiles/bairong/Icons/menu/forum.gif" permissions="bbs_forum" selected="true">
      <SubTabs>
        <Tab text="版块管理" href="bbs/background_forum.aspx" target="right" />
        <Tab text="版块合并" href="bbs/background_forumTranslate.aspx" target="right" />
        <Tab text="分类信息" href="bbs/background_threadCategory.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="内容" iconUrl="~/sitefiles/bairong/Icons/menu/thread.gif" permissions="bbs_content" selected="true">
      <SubTabs>
        <Tab text="主题管理" href="bbs/background_thread.aspx" target="right" />
        <Tab text="帖子管理" href="bbs/background_post.aspx" target="right" />
        <Tab text="用户举报" href="bbs/background_Report.aspx" target="right" />
        <Tab text="关键词设置">
          <SubTabs>
            <Tab text="关键词分类" href="bbs/background_KeywordsCategory.aspx" target="right" />
            <Tab text="关键词过滤" href="bbs/background_keywordsFilting.aspx" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="回收站管理">
          <SubTabs>
            <Tab text="主题回收站" href="bbs/background_threadTrash.aspx" target="right" />
            <Tab text="帖子回收站" href="bbs/background_postTrash.aspx" target="right" />
          </SubTabs>
        </Tab>
        <!--<Tab text="贴子优化" href="bbs/background_forum.aspx" target="right" />-->
      </SubTabs>
    </Tab>
    <Tab text="用户" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="bbs_user" selected="true">
      <SubTabs>
        <Tab text="用户组管理" href="bbs/background_userGroup.aspx" target="right" />
        <Tab text="用户管理" href="bbs/background_user.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" permissions="bbs_settings" selected="true">
      <SubTabs>
        <Tab text="论坛信息" href="bbs/background_bbsinfo.aspx" target="right" />
        <Tab text="界面设置" href="bbs/background_configurationDisplay.aspx" target="right" />
        <Tab text="注册设置" href="bbs/background_registersetting.aspx" target="right" />
        <Tab text="积分设置">
          <SubTabs>
            <Tab text="积分类型设置" href="bbs/background_configurationCredit1.aspx" target="right" />
            <Tab text="积分奖赏设置" href="bbs/background_configurationCredit2.aspx" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="附件类型大小限制" href="bbs/background_attachmentType.aspx" target="right" />
        <!--<Tab text="访问控制" href="bbs/background_accesscontrol.aspx" target="right" />-->
        <Tab text="页面命名规则" href="bbs/background_filePathRule.aspx" target="right" />
        <Tab text="模板生成设置" href="bbs/background_configurationTemplate.aspx" target="right" />
        <Tab text="IP访问限制" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif">
          <SubTabs>
            <Tab text="黑名单" href="bbs/background_restrictionList.aspx?Type=Black" target="right" />
            <Tab text="白名单" href="bbs/background_restrictionList.aspx?Type=White" target="right" />
            <Tab text="访问限制选项" href="bbs/background_restrictionOptions.aspx"  target="right" />
          </SubTabs>
        </Tab>
        <Tab text="防灌水设置" href="bbs/background_control.aspx" target="right" />
        <Tab text="新帖监控设置" href="bbs/background_configurationHandle.aspx" target="right" />
        <Tab text="论坛转换" href="bbs/background_translate.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="界面" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif" permissions="bbs_template" selected="true">
      <SubTabs>
        <Tab text="模板管理" href="bbs/background_template.aspx" target="right" />
        <Tab text="表情管理" href="bbs/background_face.aspx" target="right" />
        <!--<Tab text="表态动作" href="bbs/background_forum.aspx" target="right" />-->
        <Tab text="主题鉴定" href="bbs/background_identify.aspx" target="right" />
        <!--<Tab text="编辑器设置" href="bbs/background_forum.aspx" target="right" />
        <Tab text="在线图标" href="bbs/background_forum.aspx" target="right" />-->
        <Tab text="导航设置" href="bbs/background_navigation.aspx" target="right" />
        <Tab text="公告管理" href="bbs/background_announcement.aspx" target="right" />
        <Tab text="广告管理" href="bbs/background_adSelect.aspx" target="right" />
        <Tab text="友情链接" href="bbs/background_link.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="生成" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif" permissions="bbs_create" selected="true">
      <SubTabs>
        <Tab text="生成首页" href="bbs/background_progressBar.aspx?CreateIndex=True" target="right" />
        <Tab text="生成板块页" href="bbs/background_createForum.aspx" target="right" />
        <Tab text="生成文件页" href="bbs/background_createFile.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
