<link href="{bbs.bbsUrl}/css/dialog.css" rel="stylesheet" type="text/css">
<link href="{bbs.bbsUrl}/css/popout.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{bbs.bbsUrl}/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/jquery.form.js"></script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/jquery.loading.js"></script>
<script type="text/javascript">
var bbsUrl = '{bbs.bbsUrl}';var loading;</script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/bbs.js"></script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/ready.js"></script>