<script type="text/javascript" src="{bbs.bbsUrl}/js/dialog.js"></script>
<script type="text/javascript" src="{bbs.bbsUrl}/js/popout.js"></script>
<div id="header">
  <div class="hd">
    <div class="header_left">
      <div class="header_logo">
        <bbs:a isIndex="true"><img src="{bbs.bbsUrl}/images/logo.gif"/></bbs:a>
      </div>
      <div class="navigation">
        <ul>
        <bbs:sqlContents predefined="NavHeader">
            <bbs:if testType="linkUrl" testValue="default.aspx">
            <bbs:successTemplate>
            	<li class="nav_cur"><a href="{bbs.sql.linkUrl}" style="{bbs.sql.linkStyle}" target="{bbs.sql.linkTarget}">{bbs.sql.title}</a></li>
            </bbs:successTemplate>
            <bbs:failureTemplate>
            	<li><a href="{bbs.sql.linkUrl}" style="{bbs.sql.linkStyle}" target="{bbs.sql.linkTarget}">{bbs.sql.title}</a></li>
            </bbs:failureTemplate>
            </bbs:if>
        </bbs:sqlContents>
        </ul>
      </div>
    </div>
    <div class="use_area">
      <bbs:run class="UserUtils" if="IsAnonymous">
        <bbs:successTemplate>
          <form id="loginForm" onsubmit="onLoginSubmit(this);return false;" action="{bbs.bbsUrl}/ajax/form.aspx?action=login" method="post">
            <div id="login">
              <div class="logindiv">
                <div class="login1">
                  <p>
                    <label for=ls_username>帐号&nbsp;</label>
                    <input id="userName" name="userName" tabindex="1" class="px vm" value="用户名" type="text">
                    <label class="fl">
                      <input type="checkbox" id="persistent" name="persistent" checked="checked" value="true">
                      记住</label>
                  </p>
                  <p>
                    <label for=ls_password>密码&nbsp;</label>
                    <input id="password" name="password" tabindex="2" class="px vm"type="password" autocomplete="off">
                    &nbsp;
                    <input type="image" src="{bbs.bbsUrl}/images/login.gif" align="middle" />
                  </p>
                </div>
                <div class="login2"></div>
                <div class="login3">
                 <% if(IsCloseRegister()) %>
                 <%{ %>
                 
                  <p><a id="a_register" class="register" href="javascript:void(0);">注册新用户</a> </p>
                  <%} %>
                  <p><a id="a_forget" href="javascript:void(0);">忘记密码？</a></p>
                </div>
                <div style="clear:both"></div>
              </div>
            </div>
          </form>
        </bbs:successTemplate>
        <bbs:failureTemplate>
          <div id="loggedIn">
            <div class="use_img"><a href="{bbs.bbsUrl}/my/avatar.aspx"><img src="<%=UserUtils.GetUserAvatarSmallUrl(UserUtils.UserName)%>" /></a></div>
            <div class="use_left">
              <div class="use_font"><span class="use_name">
                <bbs:run class="UserUtils" get="UserName"></bbs:run>
                </span> | <a href="<%=UserUtils.GetLogoutUrl(this.Request.RawUrl)%>">退出</a><span class="use_other">积分：
                <bbs:run class="UserUtils" get="GetCredits(UserUtils.UserName)"></bbs:run>
                </span><span class="use_other">用户组：
                <bbs:run class="UserUtils" get="GetGroupName(UserUtils.UserName)"></bbs:run>
                </span></div>
              <div id="seleMenu" class=pop collection="Y">
                <ul>
                  <li>
                  <%=GetNameUserMessage() %>
                   <!--<a href="/usercenter/index.aspx#0,4" target="_blank">短消息</a>--> </li>
                  <li id=liB class="liB"><a href="{bbs.bbsUrl}/userlist.aspx">好友</a></li>
                  <li id=liC class="liC libg"><a href="javascript:;">设置</a>
                    <div class=seleMenu>
                      <div class=seleLay></div>
                      <div class=seleCon>
                        <p><a href="{bbs.bbsUrl}/my/avatar.aspx">修改头像</a></p>
                        <p><a href="{bbs.bbsUrl}/my/profile.aspx">个人资料</a></p>
                        <p><a href="{bbs.bbsUrl}/my/credits.aspx">积分</a></p>
                        <p><a href="{bbs.bbsUrl}/my/password.aspx">密码安全</a></p>
                        <p><a href="{bbs.bbsUrl}/my/permission.aspx">用户权限</a></p>
                      </div>
                    </div>
                  </li>
                  <li id=liD class="liD libg"><a href="javascript:;">我的中心</a>
                    <div class=seleMenu>
                      <div class=seleLay></div>
                      <div class=seleCon>
                        <bbs:run class="UserUtils" if="IsModerator">
                        <p><a href="{bbs.bbsUrl}/handle.aspx" target="_blank">新帖监控</a></p>
                        </bbs:run>
                        <p><a href="{bbs.bbsUrl}/mypost.aspx" target="_blank">我的帖子</a></p>
                        <bbs:run class="Config" if="IsSpace">
                        <p><a href="<%=UserUtils.GetUserUrl(UserUtils.UserName)%>" target="_blank">个人空间</a></p>
                        </bbs:run>
                        <bbs:run class="Config" if="IsAsk">
                        <p><a href="{bbs.askUrl}" target="_blank">问答</a></p>
                        </bbs:run>
                        <p><a href="{bbs.rootUrl}/usercenter" target="_blank">用户中心</a></p>
                        <bbs:run class="Config" if="IsFullScreen">
						<bbs:successTemplate>
                        <link href="{bbs.bbsUrl}/css/fullscreen.css" rel="stylesheet" type="text/css">
                        <p><a href="javascript:;" onclick="userConfig('fullscreen', 'false');return false;">切换到窄版</a></p></bbs:successTemplate>
                        <bbs:failureTemplate>
                        <p><a href="javascript:;" onclick="userConfig('fullscreen', 'true');return false;">切换到宽版</a></p></bbs:failureTemplate>
						</bbs:run>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </bbs:failureTemplate>
      </bbs:run>
    </div>
    <div class="nav_fu">
      <ul>
        <bbs:sqlContents predefined="NavSecondary">
            <bbs:contentsItem type="Item"><li><a href="{bbs.sql.linkUrl}" style="{bbs.sql.linkStyle}" target="{bbs.sql.linkTarget}">{bbs.sql.title}</a></li></bbs:contentsItem>
            <bbs:contentsItem type="Separator"><li>|</li></bbs:contentsItem>
        </bbs:sqlContents>
      </ul>
      <div class="search">
        <form action="{bbs.bbsUrl}/search.aspx">
        <input id="word" name="word" value="请输入搜索条件" class="sea_input"/>
        <input type="submit"  value="搜 索" class="sear_btn"/>
        </form>
      </div>
      <!--<div class="nav_hot"><span class="hot_tit">热搜：</span><a href="thread.aspx">明星</a>|<a href="thread.aspx">名人</a>|<a href="thread.aspx">谈客</a></div>-->
    </div>
  </div>
</div>
<div id="ajaxLoading" style="position:absolute">请稍后...</div>