<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Core adminDirectory="SiteServer" spaceDirectory="space" isCollection="true" isValidateCode="true" checkCode="validate">
  </Core>
  <SSO isRemote="false" id="1" authKey="Mx6c3ZcAx69WoD/8f2aRkA==" url="localhost:5095" ipAddress="" databaseType="SqlServer" connectionString="server=YAOSHUAI-PC\SQLEXPRESS;uid=sa;pwd=sa;database=web3.5">
  </SSO>
  <UserCenter isRemote="false" directory="UserCenter" url="http://www.serv.com/usercenter">
  </UserCenter>
</Config>