<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab text="视频管理" selected="true">
		<SubTabs>
			<Tab text="视频列表" href="ccspark/background_video.aspx" target="right" />
			<Tab text="上传视频" href="ccspark/background_upload.aspx" target="right" />
			<Tab text="API参数配置" href="ccspark/background_configuration.aspx" target="right" />
		</SubTabs>
	</Tab></Tabs>
</TabCollection>