<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="辅助表管理" permissions="b2c_auxiliary" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="添加辅助表" href="b2c/console_auxiliaryTableAdd.aspx"  target="right" />
        <Tab text="辅助表管理" href="b2c/console_auxiliaryTable.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="系统商城管理" permissions="b2c_siteManagement" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" selected="true">
      <SubTabs>
        <Tab text="新建商城" href="b2c/console_publishmentSystemAdd.aspx"  target="right"/>
        <Tab text="系统商城管理" href="b2c/console_publishmentSystem.aspx"  target="right"/>
        <Tab text="访问地址管理" href="b2c/console_publishmentSystemUrl.aspx"  target="right"/>
        <Tab text="商城模板管理" href="b2c/console_siteTemplate.aspx"  target="right"/>
        <Tab text="在线模板下载" href="b2c/console_siteTemplateOnline.aspx"  target="right"/>
        <Tab text="商城数据统计" addtionalString="Not (Standard)" href="b2c/console_siteAnalysis.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="商城用户管理" permissions="b2c_user" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true">
      <SubTabs>
        <Tab text="用户管理" href="b2c/console_user.aspx" target="right"/>
        <Tab text="用户组管理" href="b2c/console_userGroup.aspx" target="right"/>
		<Tab text="用户邮件群发" href="b2c/console_userMail.aspx" target="right"/>
		<Tab text="发送手机短信" href="b2c/console_userSMS.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="商城通用配置" permissions="b2c_siteSettings" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="商城投稿设置" href="b2c/console_userConfigContribute.aspx" target="right"/>
        <Tab text="商城文件管理" iconUrl="~/sitefiles/bairong/Icons/menu/file.gif" href="b2c/background_fileMain.aspx?RootPath=~/" keepQueryString="true" target="right"></Tab>
        <Tab text="定时任务管理" addtionalString="Only (All)" iconUrl="~/sitefiles/bairong/Icons/menu/task.gif">
          <SubTabs>
            <Tab text="定时生成任务" href="b2c/background_task.aspx?ServiceType=Create&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时发布任务" href="b2c/background_task.aspx?ServiceType=Publish&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时采集任务" href="b2c/background_task.aspx?ServiceType=Gather&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时备份任务" href="b2c/background_task.aspx?ServiceType=Backup&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="服务器管理" addtionalString="Only (All)" iconUrl="~/sitefiles/bairong/Icons/menu/machine.gif">
          <SubTabs>
            <Tab text="发布服务器管理" href="b2c/background_machine.aspx?ServiceType=Publish&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="备份服务器管理" href="b2c/background_machine.aspx?ServiceType=Backup&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab text="后台运行记录" permissions="b2c_log" addtionalString="Not (Standard)" iconUrl="~/sitefiles/bairong/Icons/menu/log.gif" selected="true">
      <SubTabs>
        <Tab text="商城管理日志" href="b2c/console_logCMS.aspx" target="right" />
        <Tab text="任务运行日志" href="b2c/console_logTask.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
