<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
	<Tab id="SiteManagement" text="商城管理" href="loading.aspx?RedirectType=Loading&amp;RedirectUrl=b2c/background_leftSiteSelect.aspx" />
	<Tab id="SiteConfiguration" text="商城配置" permissions="b2c_auxiliary,b2c_siteManagement,b2c_log,b2c_siteSettings,b2c_user" />
</Tabs>
</TabCollection>