@charset "utf-8";
body{ background:#fff;color:#003E82;}
a,a:link{color:#CD0000;text-decoration:none;}
a:hover {color:#CD0000;text-decoration:none;}
a:visited{color:#CD0000;text-decoration:none;}
/* 框架 */
.box950 {width:950px;overflow:hidden;margin:0 auto;}
.left212 {width:212px;overflow:hidden;float:left;}
.left000 {width:150px;overflow:hidden;float:left;}
.left000_1 {width:150px;overflow:hidden;float:left;}
.midl506 {width:506px;overflow:hidden;float:left;}
.right232 {width:232px;overflow:hidden;float:left;}
.left718 {width:710px;overflow:hidden;float:left;padding-right:8px;}
.right738 {width:730px;overflow:hidden;float:left;padding-left:8px;}
.left718_1 {width:718px;overflow:hidden;float:left;}
.left212_1 {width:212px;overflow:hidden;float:left;}
.midl506_1 {width:506px;overflow:hidden;float:right;}

.adv490 {width:490px;overflow:hidden;margin:0 auto;}
.adv230 {width:230px;overflow:hidden;margin:0 auto;}
.adv210 {width:210px;overflow:hidden;margin:0 auto;}

.box_q_num {border:1px solid #CACACA;border-left-color:#FFF;border-right-color:#FFF;background:url(images/box_qnum_bg.gif) repeat-x bottom;line-height:24px;padding-left:10px;height:24px;}
.box_con {margin:0 auto;background:#FFF;padding:10px 20px;}
.box_con {margin:0 auto;background:#FFF;padding:10px 20px;zoom:1;}
.box_con p{word-wrap:break-word;word-break:normal;}
.left718 .qnbox_l4 .box_con{clear:both}
.box_con2 {width:860px;margin:0 auto;border-top:1px solid #FFF;background:#EDEDED;padding:10px 20px;}
.box_con li{height:auto;text-decoration:none;}
.box_txt {text-indent:24px;line-height:22px;}
.box_blue {background:#EDF5F8;border-bottom:1px solid #FFF;}
.box_tsk {width:400px;}
.box_tsk .arrow{width:400px;height:5px;text-indent:20px;}
strong {display:block;}
.line_bot {height:2px;overflow:hidden;background:#EDEDED;font-size:2px;}
.line_top {width:900px;height:1px;overflow:hidden;margin:0 auto;background:#EDEDED;font-size:1px;}
.line_part {width:96%;height:1px;overflow:hidden;margin:0 auto;background:url(images/bg_line.gif) repeat-x;font-size:1px;}
.line_part2 {height:1px;overflow:hidden;margin:0 auto;border-bottom:1px dotted #F90;font-size:1px;}
.shadow_hd {height:2px;overflow:hidden;background:url(images/line_head.gif) repeat-x;font-size:2px;}
.shadow {height:2px;overflow:hidden;background:url(images/line_shadow.gif) repeat-x;font-size:2px;}
#tabpage .shadow{ background:#7E0000}
.more {float:right;padding-right:8px;}
.ttl {height:24px;overflow:hidden;margin:0 auto;text-indent:12px;line-height:24px;}
.ttl1 {width:468px;border-top:1px solid #FFE9AD;background:#FFEAEA;}
.ttl2 {width:468px;border-top:1px solid #D3D3D3;background:#F5F5F5;}
.ttl3 {width:468px;background:#F5F5F5;}
.ttcolor{color:#CD0000;}
.input_ask {width:380px;height:20px;border:1px solid #CCC;padding:2px 2px 0;font-size:14px;}
.hand {cursor:pointer;}
.right {text-align:right;padding-right:8px;}
.sp {overflow:hidden;float:left;display:block;}
.bor_b {border-bottom:1px dotted #CCC;}
.bor_cc {border:1px solid #CCC;}
.normal {font-weight:normal;}
.con_txt {padding-left:15px;}
.pad_con {padding:10px 15px;}
.left0px {border-left:0 !important;}
.site h1{display:inline;font:normal 12px "";}

.f18px,.f18px a:link,.f18px a:visited{font-size:18px;}
.c4897,.c4897 a,.c4897 a:link,.c4897 a:visited{color:#4897E2;}
.c4897 a:hover{color:#F60;}
.c72bd,.c72bd a,.c72bd a:link,.c72bd a:visited{color:#333;}
.c72bd a:hover{color:#F60;}
.c8b,.c8b a,.c8b a:link,.c8b a:visited{color:#8B8B8B;}
.c8b a:hover{color:#F60;}
.c61bd,.c61bd a,.c61bd a:link,.c61bd a:visited{color:#CD0000;}
.c61bd a:hover{color:#CD0000;}
.c249e,.c249e a,.c249e a:link,.c249e a:visited{color:#249EA9;}
.c249e a:hover{color:#F60;}
.cad21,.cad21 a,.cad21 a:link,.cad21 a:visited{color:#00AD21;}
.cad21 a:hover{color:#F60;}

.btn_search {width:101px;height:29px;border:0;padding-left:10px;background:url(images/btn_search.jpg) no-repeat;font:bold 14px/29px "";color:#CD0000;cursor:pointer;}
.btn_ask {width:101px;height:29px;border:0;padding-left:10px;background:url(images/btn_ask.jpg) no-repeat;font:bold 14px/29px "";color:#CD0000;cursor:pointer;}
.btn_get {width:109px;height:25px;border:0;background:url(images/btn_get.gif) no-repeat;font:bold 14px/25px "宋体";color:#FFF;cursor:pointer;}
.btn_01l {width:109px;height:25px;border:0;background:url(images/btn_01l.gif) no-repeat;font:bold 14px/25px "宋体";color:#0D61BD;cursor:pointer;}
.btn_sub {width:109px;height:25px;border:0;background:url(images/btn_sub.gif) no-repeat;font-weight:bold;line-height:25px;color:#FFF;cursor:pointer;}
.btn_class {width:111px;height:27px;border:0;background:url(images/btn_class.gif) no-repeat;font:bold 14px/27px "宋体";color:#FF4800;cursor:pointer;}

.header {height:90px;background:#FFF url(images/top_bg.gif) bottom repeat-x; width:1000px; margin:0 auto; clear:both}
.logo {width:180px;overflow:hidden;float:left;margin:6px auto auto 35px;_margin-left:10px;}
.logo span{display:block;}
.logo .pic{width:150px;float:left;}.txt{width:185px;float:right;}
.login {width:710px;overflow:hidden;float:right;margin:6px 20px auto auto;}
.login .bilv {width:220px; vertical-align:middle}
.login .bilv *{ vertical-align:middle}
.login .login_r {float:right;}

.search {height:70px;overflow:hidden; background:url(images/sea_bg.gif) repeat-x 0 0; clear:both;}
.search table{margin:0 auto;}
.search .inp_txt{background:#ffffcb;width:330px;height:21px;padding:4px 2px 0;font-size:14px;color:#999;}

.qnbox_l1 {border:1px solid #B6B6B6;background:#F6F6F6;}
.qnbox_l1 strong{height:29px;overflow:hidden;border:1px solid #FFF;padding-left:10px;background:url(images/tl_q_class_bg.gif) repeat-x;color:#FFF;font:bold 14px/29px "";}

.qnbox_l2 {border:1px solid #B6B6B6;}
.qnbox_l2 h1{height:26px;font:14px/26px "";}
.qnbox_l2 strong{height:27px;border:1px solid #FFF;background:url(images/tl_bg_02.gif) repeat-x bottom;text-indent:12px;font:bold 14px/27px "";}
.qnbox_l2 ul{width:690px;margin:0 auto;}
.qnbox_l2 p{line-height:22px;}
.qnbox_l2 img{margin-top:3px;}
.qnbox_l2 .upp{width:690px;margin:0 auto;}
.qnbox_l2 .upp p{margin-left:12px;}
.qnbox_l2 .inp_txt{width:300px;height:21px;padding:4px 2px 0;font-size:14px;color:#999;}
.qnbox_l2 .high_mark{width:580px;margin:0 auto;background:#EDF5F8;border:1px solid #CCC;padding:15px;text-align:left;}
.qnbox_l2 .high_mark .tl{font-size:14px;background:url(images/bg_line.gif) bottom repeat-x;padding:0 0 5px 15px;color:#000;}
.qnbox_l2 .high_mark ul{width:560px;}
.qnbox_l2 .anno_tl{height:30px;font:bold 16px/31px;"";text-align:center;}.qnbox_l2 

.anno_line{height:1px;overflow:hidden;background:#CCC;font-size:1px;}
.qnbox_l2 .txt_se{width:250px;height:19px;padding:4px 2px 0;vertical-align:middle;font-size:14px;}

.qnbox_l3 {border:1px solid #ccc;background:#FFF7E2;}
.qnbox_l3 img{vertical-align:middle;margin-bottom:3px;_margin-top:3px;}
.qnbox_l3 strong{height:25px;overflow:hidden;border:1px solid #FFF;background:url(images/tl_bg_02.gif) repeat-x;text-indent:12px;font:bold 14px/25px "";}
.qnbox_l3 .tl_l{height:30px;float:left;}
.qnbox_l3 .tl_r{height:30px;float:right;padding-right:8px;}
.qnbox_l3 .tl_r2{float:right;padding-right:8px;font:bold 12px/24px "";}
.qnbox_l3 .tl_r2 a{font:bold 12px/24px "";}
.qnbox_l3 h1{display:inline;font:bold 14px/28px "";}

.qnbox_l4 {border:1px solid #ccc; background:#fff; height:100%}
.qnbox_l4 strong{height:28px;overflow:hidden;border:1px solid #FFF;background:#EDEDED;text-indent:12px;font:bold 14px/28px "";}
.qnbox_l4 img{vertical-align:middle;margin-bottom:3px;_margin-top:3px;}
.qnbox_l4 .b_class ul{margin-left:3px;}
.qnbox_l4 .b_class li{width:135px;height:24px;float:left;overflow:hidden;display:block;padding-left:5px;line-height:24px; margin-bottom:5px;}

.qnbox_l5 {border:1px solid #FF9600;}
.qnbox_l5 img{vertical-align:middle;margin-bottom:3px;_margin-top:6px;}
.qnbox_l5 strong{height:25px;overflow:hidden;border:1px solid #FFF;border-bottom-color:#FFE6A1;background:#FFF8E2;text-indent:12px;font:bold 14px/25px "";}
.qnbox_l5 div.shadow{ background:none;}
.qnbox_l5 .tl_l{float:left;}
.qnbox_l5 .tl_r{float:right;padding-right:8px;}
.qnbox_l5 .good{width:115px;float:left;display:block;}.bad{width:115px;float:left;display:block;}

.qnbox_m1 {width:488px;margin:0 auto;border:1px solid #FF8D8D;background:#FFEAEA}
.qnbox_m1 strong{height:30px;overflow:hidden;font:bold 14px/30px "";text-indent:12px;}
.qnbox_m1 li{height:22px;}

.qnbox_m2 {width:488px;margin:0 auto;border:1px solid #B6B6B6;}
.qnbox_m2 img{vertical-align:middle;margin-bottom:3px;_margin-top:3px;}
.qnbox_m2 ul{width:468px;margin:0 auto;}
.qnbox_m2 li{height:24px;overflow:hidden;line-height:24px;}

.midl506_1 .box_cones{ padding:10px 0 5px; height:125px; width:480px; margin:0 auto; background:#fff}
.tj_right{ display: inline; float: left; width: 350px; overflow:hidden}
.tj_left{margin: 0 8px 0 5px; float: left; display: inline;}
.tj_left img{ width:108px; height:108px}
.midl506_1 .box_cones li{ overflow:hidden}

.qnbox_r1 {border:1px solid #B6B6B6;height:100%;}
.qnbox_r1 strong{height:25px;border:1px solid #FFF;background:url(images/tl_bg_02.gif) repeat-x;text-indent:12px;font:bold 14px/25px "";}
.qnbox_r1 li{height:26px;padding-left:10px;}

.user_regis .box_suc {width:500px;height:24px;margin:0 auto;border:1px solid #EBDCA5;background:#FDFED6;text-indent:10px;line-height:24px;_height:21px;_padding-top:3px;}

.ask_a .sp1{width:120px;overflow:hidden;float:left;display:block;text-align:right;}

.help .menu{background:#FDFDFD url(images/bg_help.gif) repeat-x bottom;}
.help li{height:26px;border:1px solid #FFF;border-bottom:1px solid #B6B6B6;line-height:26px;text-indent:12px;_height:21px;_padding-top:5px;}

.ques_class .tl{height:26px;padding:0;margin:0;background:none;text-indent:10px;font:bold 14px/26px "";display:block;}
.ques_class ul{padding-left:5px;}
.ques_class li{padding-left:5px;float:left;line-height:22px;color:#484848;white-space:nowrap;}
.ques_class img{_margin-top:6px;}

.div_class {width:120px;height:420px;overflow:auto;border:1px solid #CCC;padding:4px;}

.code {width:760px;overflow:hidden;float:left;display:block;padding:6px;}
.code ul{width:600px;float:left;}.code li{height:20px;}
.code .sp1{width:250px;}.code .sp2{width:72px;margin-left:5px;}.code .sp3{width:120px;margin-left:5px;}

.list_com img{margin-top:5px;}
.list_com dl{width:690px;margin:0 auto;}
.list_com dt{height:26px;border-bottom:1px solid #CCC;}
.list_com dd{height:29px;overflow:hidden;display:block;border-bottom:1px dotted #CCC; clear:both}
.list_com .sp{width:610px;overflow:hidden;float:left;display:block;}.list_com .sp1{width:500px;overflow:hidden;float:left;display:block;}.list_com .sp2{width:65px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp3{width:45px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp4{width:80px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp5{width:220px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp6{width:360px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp7{width:570px;overflow:hidden;float:left;display:block;}.list_com .sp8{width:120px;overflow:hidden;float:left;display:block;text-align:center;}.list_com 

.sp9{width:480px;overflow:hidden;float:left;display:block;}.list_com .sp10{width:150px;overflow:hidden;float:left;display:block;}.list_com .sp11{width:450px;overflow:hidden;float:left;display:block;}
.list_com strong{width:820px;height:26px;margin-left:20px;display:block;font:bold 14px/26px "";}

.list_star ul{width:690px;margin:0 auto;}
.list_star li{height:120px;overflow:hidden;display:block;padding-top:5px;border-bottom:1px dotted #CCC;}
.list_star .sp1{width:125px;line-height:120px;text-align:center;}.list_star .sp2{width:135px;text-align:center;}.list_star .sp3{width:430px;padding-left:15px;}
.list_star .tl{width:70px;height:60px;float:left;display:block;}
.list_star .con{width:350px;float:left;display:block;}
.list_star .pic{width:104px;height:104px;overflow:hidden;border:1px solid #CCC;background:url(images/bg_star.gif) no-repeat;text-align:center;}
.list_star .pic img{width:100px;height:100px;}
.list_star .mask{background:#FFF;display:block;}

.list_pro li{height:26px;overflow:hidden;display:block;border-bottom:1px dashed #999;line-height:26px;}
.list_pro .line_top {width:100%;height:1px;margin:0 auto;background:#999;font-size:1px;line-height:1px;}
.list_pro .sp1{width:230px;text-indent:5px;}.list_pro .sp2{width:100px;}.list_pro 

.sp3{width:190px;}.list_pro .sp4{width:150px;}

/**/
.columnTitle900{ width:898px;height:27px;margin:0 auto;padding-left:2px;background:url(images/jpgbg.jpg) 0 -240px repeat-x;clear:both;zoom:1;overflow:hidden;}
.columnTitle900 a{ width:88px;height:25px;margin:2px 0 0 4px;color:#CD0000;font:bold 14px/28px "";text-align:center;text-decoration:none;background:url(images/gifbg.gif) -200px -40px no-repeat;display:block;float:left;overflow:hidden;}
.columnTitle900 a.focus{ background:url(images/gifbg.gif) -100px -40px no-repeat;}
.list_com dl span{ display:block;zoom:1;float:left;overflow:hidden;}
.list_com dl span i{ height:16px;margin-top:7px;font-style:normal;display:block;overflow:hidden;}
.list_com dl .helpful{ margin-right:10px;line-height:18px;background:url(images/gifbg.gif) -786px -120px no-repeat;float:left;}
.list_com .helpless{ line-height:14px;background:url(images/gifbg.gif) -786px -140px no-repeat;float:left;}
.list_com .sp2A{ width:120px;}
.list_com .sp2A i{ padding-left:19px;color:#5b5b5b;}
.list_com .sp3A{ width:57px;text-align:center;}
.list_com .recommend{ width:15px;height:16px;margin:7px auto 0 auto;background:url(images/gifbg.gif) no-repeat;}
.list_com dl .sp8{ color:#5b5b5b;}
.list_com dl .sp12{ width:80px;color:#5b5b5b;text-align:center;}
.list_com dl .sp13{ width:310px;padding-left:15px;}
.list_com dl .sp14{ width:560px;padding-left:15px;}

.list_busi .sp1{width:540px;padding-left:15px;}
.list_busi .tl{width:70px;float:left;display:block;}
.list_busi .con{width:460px;float:left;display:block;}
.list_busi .pic{width:104px;height:145px;text-align:center; float:left;}
.list_busi .pic img{width:100px;height:100px;}

.list_busi .pPic{border:1px solid #ccc;width:104px;height:104px;overflow:hidden;padding:0;background:url(images/bg_star.gif) no-repeat;}
.list_busi .lBtn {background:url() 0 -18px no-repeat;height:28px;margin:10px auto 0;width:78px;overflow:hidden}
.list_busi .lBtn a{width:78px;height:28px;display:block;overflow:hidden;text-indent:-200px}

.list_busi .msg{ width:600px;padding-left:15px;zoom:1;float:left;}
.list_busi .msg span{ height:30px;display:block;}
.list_busi .msg .s1 a,.list_busi .msg .s2 a{ width:67px;height:27px;line-height:26px;text-align:center;color:#cd0000;font-size:12px;background:url(images/add_icon090828.gif) no-repeat;cursor:pointer;display:block;text-decoration:none;overflow:hidden;} 
.list_busi .msg span a:hover{ text-decoration:none;}

.list_busi .mask{background:#FFF;display:block;}

.busi_class {width:702px;margin:0 auto;padding-left:4px;}
.busi_class li{width:140px;height:36px;float:left;}

.table_log {margin:0 auto;color:#000;line-height:30px;}
.table_log .inp_txt{width:200px;height:16px;border:1px solid #838383;padding:3px;}
.table_log .tl{text-align:right;font-weight:bold;}
.table_log .padl_20{padding:0 10px 0 20px;}

.user {height:140px;overflow:hidden;border:1px solid #B6B6B6;background:#FFF url(images/box_user_bg.gif) 1px bottom repeat-x;}
.user strong{width:230px;height:30px;overflow:hidden;background:url(images/line_part_01.gif) no-repeat center bottom;text-indent:12px;font:bold 12px/30px "";}
.user strong.f14px{font-size:14px;}
.user p{text-indent:12px;}
.user ul{padding-left:12px;}
.user li{width:70px;height:22px;float:left;line-height:22px;display:inline;}

.user_info .ttl{height:26px;overflow:hidden;margin:0 auto;border-top:1px solid #D3D3D3;background:#F5F5F5;text-indent:12px;line-height:26px;}
.user_info .tl1{width:800px;margin:0;}.user_info .tl2{width:580px;margin:0;}.user_info 

.tl3{width:240px;margin:0;}.user_info .tl4{width:320px;margin:0;}.user_info .tl5{width:480px;margin:0;}
.user_info li{height:23px;line-height:23px;border-bottom:1px dotted #CCC;}
.user_info .sp1{width:80px;}.user_info .sp2{width:100px;}.user_info .sp3{width:120px;}.user_info .sp4{width:160px;}

.anno {overflow:hidden;display:block;border:1px solid #FF8D8D;background:#FFEAEA;}
.anno strong{height:26px;text-indent:12px;font:bold 14px/26px "";}
.anno .box_con{padding:10px;}

.team {border:1px solid #B6B6B6;background:#F4F4F4 url(images/box_user_bg.gif) no-repeat 0 top; width:228px; height:191px}
.team .title{padding-left:12px;zoom:1; clear:both; text-align:center}
.team img{vertical-align:middle;margin:0 2px 1px;}
.team .peo{width:74px;float:left;text-align:center; overflow:hidden; display:inline}
.team .peo img{ width:50px; height:50px}
.team .line{width:2px;height:61px;float:left;background:url(images/line_part_02.gif) no-repeat 0 5px;}
.team .pic{width:50px;height:45px;background:url(images/bg_peo.gif) no-repeat;border:1px solid #CFCFCF;margin:0 auto;}
.team .pic img{margin:-3px 0 0;}

.star p{text-indent:10px;line-height:20px;}

.sco {width:150px;height:10px;display:inline;float:left;border:1px solid #FF9C00;padding:1px;text-indent:-9999em;text-align:left;font-size:10px;line-height:10px;}
.sco a{width:1px;display:block;float:left;background:url(images/pv_status.gif) no-repeat center;}

.map .mbox{width:445px;overflow:hidden;float:left;}
.map dl{width:445px;}
.map dt{height:26px;margin-bottom:5px;border-bottom:1px solid #CCC;padding-left:8px;font:bold 14px/26px "";}
.map dd{float:left;margin-bottom:5px;border-right:1px solid #CCC;padding:0 8px;white-space:nowrap;}
.map .last{border-right:0;}

.ph_list {background:url(images/ph_10.gif) no-repeat 10px 29px;padding:0 6px;}
.ph_list a{text-decoration:none;}
.ph_list dl{width:215px;margin:0 auto;}
.ph_list dt{height:23px;border-bottom:1px solid #CFF;padding-left:25px;line-height:23px;}
.ph_list dd{height:23px;border-bottom:1px dotted #CCC;padding-left:25px;line-height:23px;}
.ph_list .sp1{width:120px;height:23px;overflow:hidden;float:left;display:block;}
.ph_list .sp2{width:60px;height:23px;overflow:hidden;float:left;display:block;}

.ph_list_b {background:url(images/ph_10.gif) no-repeat 10px 29px;}
.ph_list_b dt{height:23px;border-bottom:1px solid #A5A5A5;line-height:23px;}
.ph_list_b dd{height:23px;border-bottom:1px dotted #CCC;line-height:23px;}
.ph_list_b dd span{height:23px;}
.ph_list_b .sp1{width:45px;}.ph_list_b .sp2{width:90px;}.ph_list_b .sp3{width:90px;}.ph_list_b .sp4{width:290px;}.ph_list_b .sp5{width:90px;text-align:center;}.ph_list_b .sp6{width:60px;text-align:center;}

.ph_list_busi dl{width:920px;margin:0 auto;}
.ph_list_busi dt{height:30px;border-bottom:1px solid #6FA7D4;line-height:30px;}
.ph_list_busi dd{height:36px;border-bottom:1px dotted #CCC;line-height:36px;}
.ph_list_busi img{margin-top:3px;}
.ph_list_busi .sp1{width:90px;}.ph_list_busi .sp2{width:190px;}.ph_list_busi .sp3{width:230px;}.ph_list_busi .sp4{width:160px;}.ph_list_busi .sp5{width:120px;}.ph_list_busi .sp6{width:110px;}

.tab {margin:0 auto;}
.tab td{height:31px;text-indent:10px;font-weight:bold;line-height:31px;cursor:pointer;}
.tab .tab_index1{background:url(images/btn_q_all.gif) 10px no-repeat;color:#FFF;}
.tab .tab_index1 a{color:#FFF;}.tab .tab_index1 a:link{color:#FFF;}
.tab .tab_index2{background:url(images/btn_q.gif) 10px no-repeat;color:#0D61BD;}
.tab .tab_index2 a,.tab .tab_index2 a:link{color:#FE6601;}
.line_tab {height:2px;font-size:2px;background:#B30000;}

.tab1 {margin:0 auto;background:url(images/butbg.gif) repeat-x;}
.tab1 td{height:30px;text-indent:10px;font-weight:bold;line-height:30px;cursor:pointer;}
.tab1 .tab_index1{background:url(images/tab_bg_01.gif) 10px no-repeat; width:105px}
.tab1 .tab_index2{background:url(images/tab_bg_02.gif) 5px no-repeat;color:#000;}
.tab1 .tab_index1 a:link, .tab1 .tab_index1 a:visited{ color:#fff}

.tab2 {margin:0 auto;background:url(images/tab2_bg.gif) repeat-x bottom;}
.tab2 td{height:33px;text-indent:10px;font-weight:bold;line-height:33px;cursor:pointer;}
.tab2 .tab_index1{background:url(images/tab_bg_03.gif) 10px no-repeat;color:#CD0000;}
.tab2 .tab_index2{background:url(images/tab_bg_04.gif) 10px no-repeat;color:#CD0000;}

.tab3 td{height:38px;font-weight:bold;line-height:33px;cursor:pointer;}
.tab3 .tab_index1{background:url(images/tab_bg_05.gif) no-repeat;font:bold 14px "";color:#CD0000;}
.tab3 .tab_index2{background:url(images/tab_bg_06.gif) no-repeat;font:bold 14px "";color:#CD0000;}
.tab3 .tab_index2 a,.tab3 .tab_index2 a:link{color:#0072BD;}

.tab4 {margin:0 auto;background:url(images/tab_bg.gif) repeat-x bottom;}
.tab4 td{height:30px;text-indent:10px;font-weight:bold;line-height:30px;cursor:pointer;}
.tab4 .tab_index1{background:url(images/tab_bg_07.gif) 10px no-repeat;}
.tab4 .tab_index2{background:url(images/tab_bg_08.gif) 10px no-repeat;color:#000;}
.tab4 .tab_index2 a{color:#000;}.tab4 .tab_index2 a:link{color:#000;}

div#tab_c {width:700px;margin:0 auto;}
#tab_c dl{width:700px;margin:0;padding:0;clear:both;}
#tab_c dl dt{width:140px;height:40px;float:left;overflow:hidden;background: url(images/tabbg.gif) no-repeat;text-align:center;font-size:14px;line-height:40px;color:#003c83;cursor:pointer;}
#tab_c dl dt.tab_css1{background-position:0 -40px;color:#F00;}
#tab_c dl .tab_css1 a{color:#F00;}
#tab_c div{width:700px;clear:both;background:url(images/tabbg.gif) 0 -285px no-repeat;font-size:12px;color:#454445;}
#tab_c td{border:1px dashed #999;border-top:0;border-left:0;padding-left:5px;line-height:22px;}
#tab_c .bodr0{border-right:0;}
span.tab_t1,span.tab_t2,span.tab_t3,span.tab_t4,span.tab_t5,span.tab_b {width:700px;height:24px;display:block;line-height:24px;vertical-align:middle;}
span.tab_t1 {background:url(images/tabbg.gif) 0 -105px no-repeat;}
span.tab_t2 {background:url(images/tabbg.gif) 0 -140px no-repeat;}
span.tab_t3 {background:url(images/tabbg.gif) 0 -175px no-repeat;}
span.tab_t4 {background:url(images/tabbg.gif) 0 -210px no-repeat;}
span.tab_t5 {background:url(images/tabbg.gif) 0 -245px no-repeat;}
span.tab_b {background:url(images/tabbg.gif) 0 -1170px no-repeat;}
span.txt_t {text-indent:15px;}

.qtree {width:200px;height:350px;overflow:auto;border:1px solid #B6B6B6;background:#FFF;}
.qtree ul{width:200px;}
.qtree .title{height:30px;overflow:hidden;border:1px solid #FFF;padding-left:10px;background:#1793D1;color:#FFF;font:bold 14px/30px "";}
.qtree .tree .status{float:left;margin:10px 5px auto;}
.qtree .tree .current,.tree .selected{width:96%;height:30px;line-height:30px;margin-left:4px;padding-top:4px;border-bottom:1px dashed #999;cursor:pointer;font-weight:bold;}
.qtree .tree .selected{border:0;}
.qtree .tree .mygroup ul{width:96%;margin-left:4px;border-bottom:1px dashed #999;}
.qtree .tree .mygroup li{height:30px;line-height:30px;padding-left:20px;display:block;}

span.line1 {font-size:14px;}
span.line2 {font-size:13px;}
span.line3 {display:block;padding-bottom:1px;}


.search01{ width:600px; float:left; padding-top:32px;}
.search01 .txtinput{ width:345px; float:left}
.search01 .txtinput .inp_txt01{ width:330px;height:21px;padding:4px 2px 0;font-size:14px;color:#999;}
.search01 .btninput{ width:220px; float:left}
.search01 .tex{ width:30px; padding-top:10px; float:left}

.answerRank{padding:0 10px;}
.dSortBy{padding:5px 10px;text-align:center}
.answerRank .answerRankTab{height:20px; background:url(images/tab_re.gif) repeat-x;}
.answerRank .answerRankTab a{color:#888888;float:left;height:20px;width:56px;text-align:center;line-height:20px;display:inline;margin:0 5px; background:url(images/tab_bg.gif) no-repeat 0 -24px;}
.answerRank .answerRankTab a.selected{color:#000; font-weight:bold;background:url(images/tab_bg.gif) no-repeat 0 0;}
.answerRank .answerRankCon{padding-top:8px;}
.answerRank .answerRankCon li{height:24px;line-height:24px;float:left;}
.answerRank .answerRankCon li i{font-style:normal;float:left;height:24px;overflow:hidden;}
.answerRank .answerRankCon li .iId{width:128px;}
.answerRank .answerRankCon li .iZt{width:36px;}
.answerRank .answerRankCon li .iNum{width:36px;}


.tjpad{padding:1px}
.tjdiv{ clear:both; height:100%;}
.tjdiv:after, .frdiv:after{ content:"."; height:0; display:block; visibility:hidden; clear:both}
.tjimg{ width:100%; overflow:hidden}
.tjimg img{ width:210px; height:80px; padding-bottom:10px}
.tjtit{ height:25px; line-height:25px;font-size:14px; font-weight:bold; color:#fff; background:url(images/tl_q_class_bg.gif) repeat-x; padding-left:8px}
.tjdiv li{ height:24px; line-height:24px; overflow:hidden; _height:23px; _line-height:23px; vertical-align:bottom}


.friends{background:#F5F5F5 ;border:1px solid #B6B6B6; padding:5px;  margin:0 auto; overflow:hidden }
.frtit{ height:25px; line-height:25px; font-size:14px; font-weight:bold; color:#333; text-indent:8px}
#frdiv{ background:#fff;height:100%; padding:5px 0}
#frdiv a{ font-size:12px; height:22px; line-height:22px; padding-left:6px; white-space:nowrap;}
.anno{text-decoration:none;}

#footer .flead{ text-align:center}


.txt1{text-align:center;clear:both}
.k_ulchanel {width:500px;padding-top:18px; overflow:hidden;}
.k_ulchanel li{margin-right:11px;padding:10px 13px 0 0;float:left;background:url(images/090525line2.gif) right bottom no-repeat; text-align:center;}
.k_ulchanel .on{width:80px;padding:0;height:32px;background:url(images/090525button2.gif) 0 2px no-repeat;font-size:14px; color:#fff; text-align:center;line-height:32px;font-weight:bold;}
.k_ulchanel .own{background:none;}
.grey a.brown1{color:#806959;}



.letters{ height:28px; line-height:28px; background:#EDEDED; border:1px solid #fff}
.letters a{ padding:0 3px; font-size:13px; display:inline; font-weight:bold; font-family:Arial}

.gametype, .letters{ clear:both}
.gametype{ height:28px; border-bottom:2px solid #7E0000}
.gametype li{ height:28px; line-height:31px; font-size:14px; font-weight:bold; background: url(images/gametype.gif) no-repeat right 0; width:70px; text-align:center; padding-left:8px; float:left }
.gametype .select{ background:url(images/dgametype.gif) no-repeat right 0;}


.hots{ background:url(images/tops10.gif) no-repeat 5px 35px}
.hots li{ height:24px; line-height:24px; overflow:hidden; text-indent:12px}


#bbs_topics td, #bbs_topics thead .title{ display:none}
#bbs_topics .title{ display:block; height:24px; line-height:24px; text-indent:13px; text-align:left; background: url(images/dian.gif) no-repeat 4px center; overflow:hidden}
#bbs_topics .title a{ width:99%; overflow:hidden; height:24px; line-height:24px; display:block; float:left; }


.left718 .q_ulPic{width:660px; padding:10px 10px 0 15px; margin-bottom:5px; border-bottom:1px solid #e3c8d7; font-size:12px;}
.left718 .q_ulPic li{height:95px;}
.left718 .q_ulPic .iPic{width:80px; float:left;}
.left718 .q_ulPic .iTxt{width:560px; float:right; text-align:left;}
.left718 .q_ulPic em{display:block;}
.left718 .q_ulPic .eTit{margin:5px 0; font-weight:bold;}
.left718 .q_ulPic .eDes{text-indent:24px; line-height:24px; color:#777;}
.left718 .q_ulPic a,.left718 .q_ulPic .eDes a,.left718 .q_ulPic .eTit a{font-size:12px;}
.left718 .q_ulPic .eDes a{color:#CD0000;}


.left212_1 .getnum table {width:100%}
.left212_1 .getnum .tjtit {margin:1px 1px 0 1px}
.left212_1 .getnum .c1 {width:70px; border-left:1px solid #fff; padding-left:12px}
.left212_1 .getnum .c2 {width:65px}
.left212_1 .getnum .c3 {border-right:1px solid #fff}
.left212_1 .getnum tr { background:#fff}
.left212_1 .getnum td {height:25px; padding-left:5px}
.left212_1 .getnum .head {height:31px; border:1px solid #fff; margin:10px}
.left212_1 .getnum .head td {background:#fff url(images/bg_thead_0105.gif) repeat-x 0 0;}
.left212_1 .getnum .odd {background:#f3f3f3}
.left212_1 .getnum .game b {margin-left:5px}
.left212_1 .getnum .game {color:#aaa}
.left212_1 .getnum .game a {color:#0b4982}


.recomment {width:488px; margin:0 auto}
.recomment .tjtit {margin:1px}
.recomment .content {padding:10px}
.recomment .tj_left img {width:200px; height:100px; margin-top:8px}
.recomment .tj_left {width:205px}
.recomment .imgTitle {display:block; line-height:25px; font-size:12px; text-align:center}
.recomment .imgTitle a {font-size:12px}
.recomment .tj_right {width:250px;}
.recomment p.right {margin-bottom:5px; padding-right:0}

#dragBox{width:auto}

.catalog a:link,.catalog a:visited{ color:#5B5B5B;text-decoration:none;}
.catalog a:hover{ color:#ff6600;text-decoration:none;}

.box_con strong{display:inherit; background:none; border:none}